{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
    ابزارک ها
{% endblock %}
{% block header_reference %}
    <link href="{% static 'admin_panel/assets/css/tables/table-basic.css' %}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'admin_panel/plugins/sweetalerts/sweetalert2.min.css' %}">
{% endblock %}
{% block content %}
    {% load poll_extras %}

    {% include 'layout/component/deletemodal.html' %}
    <div class="col-lg-10 mx-auto mt-5 ">
        <div class="table-responsive bg-white p-5">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-10 col-md-10 col-sm-10 col-10 mb-4 ">
                        <h4>مدیریت ابزارک ها</h4>
                    </div>

                </div>
            </div>
            <table class="table table-bordered table-hover table-condensed mb-4">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام</th>
                    <th class="text-center">عملیات</th>
                </tr>
                </thead>
                <tbody>


                    <tr>
                        <td>
۱
                        </td>
                        <td>
ابزارک بنر تبلیغاتی
                        </td>


                        <td class="text-center">
                            <ul class="table-controls">
                                <li>


                                    <a href="{% url 'ads_banner' %}"
                                       style="margin-right: 1x;color: red"
                                       class="bs-tooltip mr-2 text-or" data-toggle="tooltip" data-placement="top"
                                       title="" data-original-title="ویرایش">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-edit-2 text-info">
                                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>

                                        </svg>
                                    </a>




                                </li>
                            </ul>
                        </td>

                    </tr>

                </tbody>
                <tfoot>
                <tr>

                    <th>ردیف</th>
                    <th>نام</th>

                    <th class="text-center">عملیات</th>


                </tr>
                </tfoot>
            </table>

  {% include 'layout/component/pagination.html' %}
        </div>
        </div>
    </div>

{% endblock %}

{% block script %}

{% include 'layout/component/swalmeesage.html' with title="ابزارک" %}
<script>
function myfunc(id){
let ali="{% url 'page_delete' pk=' ' %}"
document.getElementById('delete').href=ali+id
}
</script>
{% endblock %}