{% load static %}

    <link rel="icon" type="image/x-icon" href="{% static 'admin_panel/assets/img/favicon.ico' %}">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{% static 'admin_panel/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'admin_panel/assets/css/plugins.css' %}" rel="stylesheet" type="text/css">

    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin_panel/assets/css/forms/theme-checkbox-radio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin_panel/assets/css/forms/switches.css' %}">

