{% extends 'layout/HomeLayout/HomeShared/base.html' %}
{% load static %}
{% load render_partial %}
{% load poll_extras %}
{% block title %}{{title}}{% endblock %}




    <!-- start navbar menu -->
    {% block header_full %}  <div class=" w-full mx-auto">
    {% render_partial 'Home.views.HeaderTree' %}  </div> {% endblock %}
    <!-- end navbar menu -->



{% block main %}
  <!--  box -->
  <div class="container mx-auto">
    <section class="relative ">
      <div class="pg-title mx-4 my-5 lg:my-8 max-sm:mb-6">
        <h2 class="font-IRsansBold text-black-700 text-3xl max-md:text-2xl max-sm:text-lxl mt-4">دسته بندی </h2>
        <h3 class="my-2 text-black-500 flex items-center">

          <a href="{% url 'HomePage' %}" class="hover:text-black-700">ایزگیم</a>
          <span class="material-symbols-outlined text-gold-500 cursor-default	">
            chevron_left
            </span>
            <a href="{% url 'blog'  %}" class="hover:text-black-700">وبلاگ</a>

           <span class="material-symbols-outlined text-gold-500 cursor-default	">
            chevron_left
            </span>
            <a href="" class="hover:text-black-700">{{title}}</a>

        </h3>
      </div>


      <!-- blog section -->





      <div class="flex p-2 mt-10 max-lg:mt-5 justify-between single_post max-lg:flex-wrap ">
        <!-- Start Section posts -->
        <div class="relative rounded-sm  ml-2 xl:w-[75%] max-xl:w-[69%] max-xl:ml-2 max-lg:ml-0 max-lg:w-full">
          <div class=" h-full w-full " id="article_tab">
            <div class="posts flex flex-wrap justify-center -mt-2 max-xl:-mt-3 max-md:justify-center">
              {% for article in articles %}
              <div class="post max-xl:w-[310px] w-[285px]  bg-white p-2  mx-2 mb-4 max-md:w-full">
                <a href="{{article.get_absolute_url}}">
                  <img src="{% if article.image %} {{article.image.url}} {% else %}{% static 'Home/'%}images/default-image.jpg {% endif %}" class="w-full max-lg:h-[196px] h-[156px] rounded brightness-75 transition ease-in-out hover:brightness-150" alt="">
                </a>
                <div class="details flex px-2 items-center  justify-between mt-[14px] -mb-1 ">
                  <div class="date flex items-center">
                    <span class="material-symbols-outlined text-red-500 text-2xl relative bottom-1">
                      calendar_month
                    </span>
                    <span class="text-black-500 text-sm mx-1">
{{article.created_date | jalali_date_cu}}
                    </span>
                  </div>
                  <div class="tag flex items-center">
                    <span class="material-symbols-outlined text-green text-2xl">
                      bookmark
                    </span>
                    <span class="text-black-500 text-sm mx-1">
                                                  {% for cat in article.categories.all  %}
                            <a href="{{cat.get_absolute_url}}">{{cat.title}}</a>
                            {% if forloop.counter < article.categories.count  %} ، {% endif %}

                            {% endfor %}
                    </span>
                  </div>
                  <div class="tag flex items-center">
                    <span class="material-symbols-outlined text-purple text-2xl">
                      comment

                    </span>
                    <span class="text-black-500 text-sm mx-1">
                      {{article.comments.count}}
                    </span>
                  </div>
                </div>
                <div class="flex flex-col px-2">
                  <h3 class="text-black-700 my-3 text-xl font-bold  hover:text-gold-500 transition"><a href="{{article.get_absolute_url}}">{{article.title}}</a></h3>
                  <p class="text-black-500 text-base lg:hidden mb-2">{{article.previewtext | slice:"140"}}</p>
                </div>

              </div>
          {% endfor %}

            </div>
            <!-- pagination -->

                      {% include 'layout/HomeLayout/HomeComponent/pagination.html' %}

            <!-- end pagination -->
          </div>

        </div>
        <!-- End Section Posts -->
        <aside class="aside mr-6 xl:w-[27%] max-xl:w-[31%] max-lg:mr-0 max-lg:w-full ">
          <!-- lates post box -->
          <div class="sidebar_single_post mb-10 relative border  border-gray-500 w-full h-auto p-6 max-xl:px-3 max-lg:mt-8 max-sm:mt-6">
            <div class="title">
              <h2 class="text-black-700 text-lxl w-48 absolute -top-7 right-10 font-bold flex items-center bg-gray-300 p-3 text-center justify-center   max-sm:text-xl">
                <span class="material-symbols-outlined text-3xl ml-2 relative bottom-[2px]">
                  rss_feed
                </span>
                <span>پست های اخیر</span>

              </h2>
              <p class=" text-base font-light  mx-6 text-black-500">پست های اخیر ایزگمی در دسترس است.</p>
              <div class="posts">
                <div class="post relative bg-white rounded-md p-4 py-2 pt-5 mt-4 mb-5">
                  <h3 class="text-mxl text-black-500 font-bold transition ease-in hover:text-gold-500">
                    <a href="single_post.html">
                      دانلود چیت بازی زولا+نسخه جدید
                    </a>
                  </h3>
                  <div class="details flex items-center  justify-end  mt-4 mb-2 ">
                    <div class="date flex ">
                      <span class="material-symbols-outlined text-gold-500 text-2xl">
                        calendar_month
                      </span>
                      <span class="text-black-500 text-sm mx-2 relative top-[2px]">
                        5 آذر 1399
                      </span>
                    </div>
                    <div class="tag flex items-center mx-2 mr-4 ">
                      <span class="material-symbols-outlined text-gold-500 text-2xl relative bottom-[2px] ">
                        local_fire_department
                      </span>
                      <span class="text-black-500 text-sm ">
                        k 2.7
                      </span>
                    </div>

                  </div>
                </div>
                <div class="post relative bg-white rounded-md p-4 pt-5 py-2 mt-4 mb-5">
                  <h3 class="text-mxl text-black-500 font-bold transition ease-in hover:text-gold-500">
                    <a href="single_post.html">
                      دانلود چیت بازی زولا+نسخه جدید
                    </a>
                  </h3>
                  <div class="details flex items-center  justify-end  mt-4 mb-2 ">
                    <div class="date flex ">
                      <span class="material-symbols-outlined text-gold-500 text-2xl">
                        calendar_month
                      </span>
                      <span class="text-black-500 text-sm mx-2 relative top-[2px]">
                        5 آذر 1399
                      </span>
                    </div>
                    <div class="tag flex items-center mx-2 mr-4 ">
                      <span class="material-symbols-outlined text-gold-500 text-2xl relative bottom-[2px] ">
                        local_fire_department
                      </span>
                      <span class="text-black-500 text-sm ">
                        k 2.7
                      </span>
                    </div>

                  </div>
                </div>
                <div class="post relative bg-white rounded-md p-4 pt-5 py-2 mt-4 mb-5">
                  <h3 class="text-mxl text-black-500 font-bold transition ease-in hover:text-gold-500">
                    <a href="single_product .html">
                      دانلود چیت بازی زولا+نسخه جدید
                    </a>
                  </h3>
                  <div class="details flex items-center  justify-end  mt-4 mb-2 ">
                    <div class="date flex ">
                      <span class="material-symbols-outlined text-gold-500 text-2xl">
                        calendar_month
                      </span>
                      <span class="text-black-500 text-sm mx-2 relative top-[2px]">
                        5 آذر 1399
                      </span>
                    </div>
                    <div class="tag flex items-center mx-2 mr-4 ">
                      <span class="material-symbols-outlined text-gold-500 text-2xl relative bottom-[2px] ">
                        local_fire_department
                      </span>
                      <span class="text-black-500 text-sm ">
                        k 2.7
                      </span>
                    </div>

                  </div>
                </div>
                <div class="post relative bg-white rounded-md p-4 pt-5 py-2 mt-4 mb-5">
                  <h3 class="text-mxl text-black-500 font-bold transition ease-in hover:text-gold-500">
                    <a href="single_product .html">
                      دانلود چیت بازی زولا+نسخه جدید
                    </a>
                  </h3>
                  <div class="details flex items-center  justify-end  mt-4 mb-2 ">
                    <div class="date flex ">
                      <span class="material-symbols-outlined text-gold-500 text-2xl">
                        calendar_month
                      </span>
                      <span class="text-black-500 text-sm mx-2 relative top-[2px]">
                        5 آذر 1399
                      </span>
                    </div>
                    <div class="tag flex items-center mx-2 mr-4 ">
                      <span class="material-symbols-outlined text-gold-500 text-2xl relative bottom-[2px] ">
                        local_fire_department
                      </span>
                      <span class="text-black-500 text-sm ">
                        k 2.7
                      </span>
                    </div>

                  </div>
                </div>
                <a href="blog.html" class="text-gold-500 text-mxl read_more_btn   bg-none w-[160px] flex justify-center mx-auto  py-[11px] mt-5 border border-gold-500 text-center font-medium rounded  items-center">
                  <span class="mx-2 flex items-center ">
                    مطالعه بیشتر
                    <span class="material-symbols-outlined mx-1 text-[18px] mb-[2px]">
                      data_saver_on

                    </span>
                  </span>


                </a>
              </div>
            </div>
          </div>
          <!-- end lates post box -->

          <!-- best cheat -->
          <div class="sidebar_best_cheat mb-10 relative  h-auto">
            <div class="header flex items-center border border-gray-500  p-5 rounded justify-between">
              <span class="text-black-500 text-[17px] font-IRsansBold max-sm:text-xl">
                چیت پلاس
              </span>
              <span class="font-IRsansLight text-black-500 text-mxl">
                5 چیت برتر
              </span>
            </div>
            <div class="items mt-2 relative p-4 max-md:p-1">

              <div class="item_best w-full h-[280px]  relative ">
                <div class="bg-black-500 opacity-40 absolute top-0  w-full h-[280px] z-20"></div>
                <img src="../images/4.jpg" alt="" class="w-full  h-[280px] contrast-50">
                <div class="items_titleq flex items-center absolute -bottom-2 -right-4 z-30">
                  <div class="circle w-16 h-[60px] bg-black-700 border-[4px] rounded-full border-gold-500 max-lg:w-16 max-xl:w-[78px]">
                    <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full ">1
                    </span>
                  </div>
                  <h3 class="text-white text-[17px] max-sm:text-xl font-medium mx-4 relative bottom-3 hover:opacity-60">
                    <a href="single_post.html">
                      چیت بازی زولا + آخرین اپذیت آذر
                    </a>
                  </h3>
                </div>
              </div>
              <div class="item_best w-full h-[60px] mt-4 relative ">
                <div class="bg-purple opacity-70 absolute top-0  w-full h-[60px] z-20"></div>
                <img src="../images/single_product_images.jpg" alt="" class="w-full  h-[60px] ">
                <div class="items_titleq flex items-center absolute  bottom-0 -right-4 z-30">
                  <div class="circle w-16 h-[60px] bg-black-700 border-[4px] rounded-full border-gold-500">
                    <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full">2
                    </span>
                  </div>
                  <h3 class="text-white text-[16px] font-medium mx-4 hover:opacity-60">
                    <a href="single_product .html">
                      چیت پابجی پلاس
                    </a>
                  </h3>
                </div>
              </div>
              <div class="item_best w-full h-[60PX] mt-4 relative ">
                <div class="bg-red-100 opacity-70 absolute top-0 w-full h-[60PX] z-20"></div>
                <img src="../images/shop-slide-image.jpg" alt="" class="w-full  h-[60PX]  ">
                <div class="items_titleq flex items-center absolute  bottom-0 -right-4 z-30">
                  <div class="circle w-16 h-[60PX] bg-black-700 border-[4px] rounded-full border-gold-500">
                    <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full">3
                    </span>
                  </div>
                  <h3 class="text-white text-[16px] font-medium mx-4 hover:opacity-60 ">
                    <a href="single_post.html">
                      ترینر بازی کانتر گلوبال

                    </a>
                  </h3>
                </div>
              </div>
              <div class="item_best w-full h-[60PX] mt-4 relative ">
                <div class="bg-green opacity-70 absolute top-0  w-full h-[60PX] z-20"></div>
                <img src="../images/shop-slide-image.jpg" alt="" class="w-full  h-[60PX] ">
                <div class="items_titleq flex items-center absolute  bottom-0 -right-4 z-30">
                  <div class="circle w-16 h-[60PX] bg-black-700 border-[4px] rounded-full border-gold-500">
                    <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full">4
                    </span>
                  </div>
                  <h3 class="text-white text-[17px] font-medium mx-4 hover:opacity-60 ">
                    <a href="single_product .html"></a>
                    ترینر بازی گلوبال
                  </h3>
                </div>
              </div>
              <div class="item_best w-full h-[60PX] mt-4 relative ">
                <div class="bg-gold-500 opacity-70 absolute top-0  w-full h-[60PX] z-20"></div>
                <img src="../images/11.jpg" alt="" class="w-full h-[60PX] ">
                <div class="items_titleq flex items-center absolute  bottom-0 -right-4 z-30">
                  <div class="circle w-16 h-[60PX] bg-black-700 border-[4px] rounded-full border-gold-500">
                    <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full">5</span>
                  </div>
                  <h3 class="text-white text-[16px] font-medium mx-4  hover:opacity-60">
                  <a href="single_post.html">وال هک بازی ویچر</a>
                  </h3>
                </div>
              </div>
            </div>

          </div>
          <!-- lates comments -->
          <div class="sidebar_lates_comment mb-5 relative border -mt-2  border-gray-500 w-full h-auto p-6 max-xl:px-3 max-xl:pb-1">
            <div class="title">
              <h2 class="text-black-700 text-lxl w-48 absolute -top-7 right-10 font-bold flex items-center bg-gray-300 p-3 text-center justify-center   max-sm:text-xl">
                <span class="material-symbols-outlined text-3xl ml-2 relative bottom-[2px]">
                  group
                </span>
                <span>آخرین نظرات</span>

              </h2>
              <p class=" text-mxl font-light  mx-6 text-black-500">
                آخرین دیدگاه های ثبت شده در ایزگیم
              </p>

            </div>
            <div class="posts mt-4">
              <div class="post relative border border-gray-500 border-dashed text-mxl p-3 mt-4 mb-5" style="border-width: 2px;">
                <a href="single_post.html" class="text-black-500 hover:opacity-60">
                  <strong class="text-gold-500">سارا</strong>
                  در مطلب دانلود چیت زولا نوشت
                </a>
                <div class="details flex items-center  justify-end  mt-3 mb-1 ">
                  <div class="date flex ">

                    <span class="text-black-500 text-sm -mb-2 relative ">
                      26 آذر 1400
                    </span>
                  </div>


                </div>
              </div>

              <div class="post relative border border-gray-500 border-dashed text-mxl p-3 mt-4 mb-5" style="border-width: 2px;">
                <a href="single_post.html" class="text-black-500 hover:opacity-60">
                  <strong class="text-gold-500">سارا</strong>
                  در مطلب دانلود چیت زولا نوشت
                </a>
                <div class="details flex items-center  justify-end  mt-3 mb-1 ">
                  <div class="date flex ">
                    <span class="text-black-500 text-sm -mb-2 relative ">
                      26 آذر 1400
                    </span>
                  </div>


                </div>
              </div>
              <div class="post relative border border-gray-500 border-dashed  text-mxl p-3 mt-4 mb-5" style="border-width: 2px;">
                <a href="single_post.html" class="text-black-500 hover:opacity-60">
                  <strong class="text-gold-500">سارا</strong>
                  در مطلب دانلود چیت زولا نوشت
                </a>
                <div class="details flex items-center  justify-end  mt-3 mb-1 ">
                  <div class="date flex ">

                    <span class="text-black-500 text-sm -mb-2 relative ">
                      26 آذر 1400
                    </span>
                  </div>


                </div>
              </div>
              <div class="post relative border border-gray-500 border-dashed text-mxl p-3  mt-4 mb-5" style="border-width: 2px;">
                <a href="single_post.html" class="text-black-500 hover:opacity-60">
                  <strong class="text-gold-500">سارا</strong>
                  در مطلب دانلود چیت زولا نوشت
                </a>
                <div class="details flex items-center  justify-end  mt-3 mb-1 ">
                  <div class="date flex ">

                    <span class="text-black-500 text-sm -mb-2 relative ">
                      26 آذر 1400
                    </span>
                  </div>


                </div>
              </div>
              <div class="post relative border border-gray-500 border-dashed text-mxl p-3 mt-4 mb-5" style="border-width: 2px;">
                <a href="single_post.html" class="text-black-500 hover:opacity-60">
                  <strong class="text-gold-500">سارا</strong>
                  در مطلب دانلود چیت زولا نوشت
                </a>
                <div class="details flex items-center  justify-end  mt-3 mb-1 ">
                  <div class="date flex ">

                    <span class="text-black-500 text-sm -mb-2 relative ">
                      26 آذر 1400
                    </span>
                  </div>


                </div>
              </div>
            </div>
          </div>
          <!-- end lates comment -->

          <!-- end best cheat box -->
        </aside>


      </div>
    </section>
  </div>

  <!-- end  box -->
  <br><br>
{% endblock %}




{% block footer %}
{% render_partial 'Home.views.FooterTwo' %}

{% endblock %}


{% block custom_footer_references %}

  <script>
    let Mobi = new MobileMenu()
    let Boxes = new MangeBoxDropDown()
    window.addEventListener('click', (event) => {


      if (!Boxes.cardBox.contains(event.target) && event.target.contains(filterBody)) {
        Boxes.closeCardBox()
      }
      // toggle menu mobile when click out:
      if (!Mobi.SiteMenu.contains(event.target) && Mobi.StatusMobile && !Mobi.hamber.contains(event.target)) {
        Mobi.close()

      }
    })



  </script>
{% endblock %}