{% extends 'layout/HomeLayout/HomeShared/base.html' %}
{% load static %}
{% load unicorn %}
{% load render_partial %}
{% load poll_extras %}
{% block custom_header_references %}
<link rel="stylesheet" href="{% static 'Home/dist/404_page.css' %}">
    {% unicorn_scripts %}

{% endblock%}
{% block title %} {{post.title}}  {% endblock %}

      {% block header %} {% render_partial 'Home.views.HeaderTwo' %} {% endblock %}

{% block main %}
    {% csrf_token %}

  <div class="container  mx-auto ">
    <!-- Start Header Menu-->


    <!-- End Header -->

    <div class="flex justify-between single_post  my-8 mt-16 max-xl:mt-12 max-lg:flex-wrap max-lg:mt-8 ">
      <main class="rounded-sm  ml-6 xl:w-[72%] max-xl:w-[69%] max-xl:ml-2  max-lg:ml-0 max-lg:w-full">
        <!-- article -->
        <section>
          <article>
            <div class="flex flex-col justify-center p-6  bg-white max-lg:p-4">

              <h1 class="text-black-700 text-[19px] max-md:text-[18px] max-sm:text-[17px]  font-IRsansBold"><a
                  href="single_post.html" class="font-IRsansBold">{{post.title}}</a>
              </h1>
              <hr class="bg-gray-100 my-5 mb-3 text-gray-100 text-center mx-auto h-[1px]  w-full max-sm:hidden">
              <div class="details flex items-center   my-2 max-sm:justify-between ">
                <div class="date flex ">
                  <span class="material-symbols-outlined text-red-500 text-2xl">
                    calendar_month
                  </span>
                  <span class="text-black-500 text-sm mx-2 relative top-[2px]">
                                              {{post.updated_at | jalali_date_cu}}

                  </span>
                </div>
                <div class="tag flex items-center mx-20 max-xl:mx-14 max-md:mx-4 max-sm:hidden">
                  <span class="material-symbols-outlined text-green text-2xl relative ">
                    edit
                  </span>
                  <span class="text-black-500 text-sm
                    نوشته شده توسط
                    <a  class="text-black-700">
                      {{post.author.get_full_name}}
                    </a>

                  </span>
                </div>
                <div class="tag flex items-center">
                  <span class="material-symbols-outlined text-purple text-2xl relative -top-[2px]">
                    visibility
                  </span>
                  <span class="text-black-500 text-sm mx-1">
                    560
                  </span>
                </div>
              </div>
              <a href="{{post.get_absolute_url}}">

                <img src="{% if post.image %} {{post.image.url}} {% else %}{% static 'Home/'%}images/default-image.jpg {% endif %}"
                  class="rounded-md w-full mt-3 h-[500px] max-xl:h-[400px] max-lg:h-[320px] max-sm:h-[220px]"
                  alt="">

              </a>

              <div class="content mt-4">

                  <div class="text-black-500 text-mxl  text-right  leading-[34px] max-md:text-base">
                             {{ post.content | safe }}
              </div>


                <hr class="bg-gray-300 w-4/5 mx-auto h-[1px] mt-6 text-gray-500 md:mb-6 ">

                <div class="socail_box flex  w-full h-9 justify-center my-4">
                  <a href="https://t.me/{{social.telegram}}" target="_blank">
                    <div class="telegram ease-in transition fill-[#32AFE6] hover:opacity-70">

                      <svg xmlns="http://www.w3.org/2000/svg" class="w-[26px] h-[26px] mx-2" viewBox="0 0 496 512"
                        fill="">
                        <!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                        <path
                          d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z">
                        </path>
                      </svg>
                    </div>
                  </a>
                  <a href="https://instagram.com/{{social.instagram}}" target="_blank">
                    <div class="instagram ease-in transition fill-[#E23BDC] hover:opacity-70">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-[26px] h-[26px] mx-2"
                        viewBox="0 0 448 512"><!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                        <path
                          d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                        </path>
                      </svg>
                      <!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                      <path
                        d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z">
                      </path>
                    </div>
                  </a>
                  <a href="https://twitter.com/{{social.twitter}}" target="_blank">
                    <div class="twitter ease-in transition fill-[#31A6F5] hover:opacity-70">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-[26px] h-[26px] mx-2"
                        viewBox="0 0 512 512"><!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                        <path
                          d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                        </path>
                      </svg>
                    </div>
                  </a>
                  <a href="https://facebook.com/{{social.facebook}}" target="_blank">
                    <div class="facebook ease-in transition fill-[#4E49D4] hover:opacity-70]">
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-[26px] h-[26px] mx-2"
                        viewBox="0 0 320 512"><!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                        <path
                          d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                        </path>
                      </svg>
                    </div>
                  </a>

                </div>

                <div
                  class="input-group relative flex flex-wrap items-stretch w-96 mb-4 rounded my-6 mt-0 mx-auto max-sm:w-full">
                  <input type="search"
                    class="form-control relative flex-auto min-w-0 block  px-3 py-1 text-base font-normal text-black-500 bg-gray-300 h-[55px]  bg-clip-padding border-none rounded-full transition ease-in-out m-0  text-left px-6 focus:outline-none w-[300px] max-sm:w-full"
                    placeholder="https://mr-keshi.ir" aria-label="Search" aria-describedby="button-addon2" id="myInput" value="{{post.get_absolute_url}}">
                  <span onclick=CopyTextClipBoard()
                    class="input-group-text flex items-center px-3 py-1.5  text-base font-normal right-1 top-3  text-gray-700 text-center whitespace-nowrap rounded absolute "
                    id="basic-addon2">
                    <span class="material-symbols-outlined text-black-500 relative bottom-1 text-3xl cursor-pointer">
                      content_copy
                    </span>

                  </span>
                </div>

              </div>

            </div>


          </article><!-- end artice -->
        </section>

        <!-- download box -->
        {% if post.downloadbox.title1 %}
        <section>
          <div class="bg-white w-full flex  flex-col rounded max-lg:mt-6">
            <header class="bg-gold-500 w-full runded-t runded-r p-4">
              <h3 class="text-white text-xl flex items-center  ">
                <span class="material-symbols-outlined text-[26px] relative bottom-1 mx-[2px] font-bold text-white">
                  download
                </span>
                جعبه دانلود

              </h3>
            </header>
            <div class="content p-4 text-mxl text-black-500">
              <p class="p-1 text-right text-base leading-8">
                <strong class="text-purple">نکته مهم:</strong>
                 این نسخه کاملا رایگان است و شما می‌توانید به مدت حدودا ۳روز این عنوان را در کلاینت استیم تجربه کنید.
                تاریخ غیرفعال شدن بازی، دوشنبه ۱۴م آذرماه ۱۴۰۱ ساعت ۲۱:۳۰ می‌باشد و بعد از آن نیاز است تا اکانت
                اوریجینال بازی را تهیه کنید
              </p>
              <div class="btn w-full justify-center my-5 flex text-base flex-wrap">
    {% if post.downloadbox.title1 %}
          <a href="{{post.downloadbox.link1}}"
                  class="bg-gray-100  text-black-500 text-center p-3 px-4 rounded m-2 hover:opacity-75 max-md:w-full">{{post.downloadbox.title1}}</a>
                {% endif %}
                {% if post.downloadbox.title2 %}
          <a href="{{post.downloadbox.link2}}"
                  class="bg-gray-100  text-black-500 text-center p-3 px-4 rounded m-2 hover:opacity-75 max-md:w-full">{{post.downloadbox.title2}}</a>
                {% endif %}
    {% if post.downloadbox.title3 %}
          <a href="{{post.downloadbox.link3}}"
                  class="bg-gray-100  text-black-500 text-center p-3 px-4 rounded m-2 hover:opacity-75 max-md:w-full">{{post.downloadbox.title3}}</a>
                {% endif %}
    {% if post.downloadbox.title4 %}
          <a href="{{post.downloadbox.link4}}"
                  class="bg-gray-100  text-black-500 text-center p-3 px-4 rounded m-2 hover:opacity-75 max-md:w-full">{{post.downloadbox.title4}}</a>
                {% endif %}


              </div>
              <hr class="bg-gray-500 w-full mx-auto h-[1px] max-lg:mt-6 my-6 px-4 text-gray-500 ">
              <div class="password flex items-center pb-2">
                <strong class="text-purple  flex items-center">
                  <span class="material-symbols-outlined text-[22px] relative bottom-[2px]">
                    lock_open
                  </span>

                  <span class="mx-1"> رمز فایل:</span>
                </strong>

                <span class="text-base">{{post.downloadbox.password}}</span>
              </div>

            </div>
          </div>
        </section>
        <!-- Start Tag Box -->
{% endif %}
        <section>
          <div class="bg-white w-full rounded p-8 max-lg:mt-6 lg:my-6 flex max-md:p-4 max-md:pl-2 max-md:py-6 max-sm:py-">


            <div class="post-tags flex items-center flex-wrap">
              <div class="flex items-center">
                <span class="material-symbols-outlined text-gold-500 text-2xl -mx-1">
                  sell
                </span>
                <h4 class="font-bold text-black-500 text-mxl mr-2  max-lg:ml-0 w-auto">برچسب ها:</h4>
              </div>



  {% if post.tags.count > 0  %}
                            {% for tag in post.tags.all  %}
              <a href="{{tag.get_absolute_url}}" class="text-black-500 text-base hover:opacity-75 mx-2">{{tag.title}}</a>
                            <a href="{{cat.get_absolute_url}}">{{tags.title}}</a>
                            {% if forloop.counter < post.tags.count  %} <span class="text-gray-700">|</span> {% endif %}
                            {% endfor %}
{% endif %}
            </div>
          </div>
        </section>

        <!-- End Tag Box -->

        <!-- Start Box About Me -->
      {% include "HomeComponent/AuthorBox.html" with user=post.author %}

        <!-- End Aboue Me Box -->

        <!-- Start Comment -->
        <section>
          <div class="bg-white p-8 max-lg:mt-6 rounded  max-md:p-4">
            <div class="transition hover:bg-indigo-500  ">
              <!-- header -->
              <div
                class="accordion-header  transition flex space-x-5 px-5 max-sm:px-0  items-center h-[60PX]  justify-between mb-4 ">

                <div class="header flex max-sm:mt-2 justify-between items-center w-full ">
                  <h4 class="text-gold-500 text-2xl mx-3 max-sm:mx-0 max-2xl:text-[19px] max-md:text-lxl">3 دیدگاه</h4>
                  <a id="add_circle"
                    class="text-gold-500 text-mxl cursor-pointer read_more_btn   bg-none w-[160px] max-sm:w-36 flex justify-center   py-[11px]  border border-gold-500 text-center font-medium rounded  items-center">
                    <span class="material-symbols-outlined  text-[18px] mb-[2px]">
                      add_circle

                    </span>
                    <span class="mx-2 flex items-center ">
                      افزودن دیدگاه

                    </span>


                  </a>
                </div>
              </div>
              <!-- Content -->
              <div class="accordion-content  pt-0 overflow-hidden max-h-0">

{% unicorn 'addcomment' post.id %}

              </div>
            </div>
            <!-- peoples comment -->
            <div class="comment-person relative">
              <div
                class="border-gray-500 border p-6 w-full mt-8 rounded-md relative max-md:p-2 max-md:mt-2 ">
                <div class="flex justify-between w-full">
                  <div class="img-profile flex items-center">
                    <img src="../images//first_1.webp"
                      class="border border-[2px] rounded-full border-gray-300 w-14 h-14 max-md:w-12 max-md:h-12" alt="">
                    <div class="box flex flex-col mx-3">
                      <a href="#" class="text-black-700 text-xl font-IRsansBold max-sm:text-mxl">رضا رستمی</a>
                      <span class="text-black-500 text-sm">1 روز قبل</span>
                    </div>
                  </div>
                  <div class="bottons flex h-[30px] max-sm:absolute left-2 top-3">
                    <div class="like-comment p-1  rounded-md bg-red-50 mx-1 bg-gray-500 flex items-center ">
                      <span class="material-symbols-outlined text-red-500 text-[20px] mx-1 max-sm:text-lxl">
                        favorite
                      </span> <span class="text-red-500 text-base max-sm:text-[13px] ">5</span>

                    </div>
                    <div class="replay-comment mx-1  rounded-md  p-1  bg-gray-300 flex items-center ">
                      <span class=" material-symbols-outlined text-black-500 text-[20px] mx-1 max-sm:text-lxl">
                        compare_arrows
                      </span>
                      <span class="text-black-700 text-base ml-2 max-sm:ml-1 max-sm:text-[13px]">پاسخ</span>

                    </div>
                  </div>
                </div>
                <p class="text-mxl text-black-500 m-2 px-1 max-sm:text-base max-sm:mx-0 leading-7">
                  برنامه نویسی هوش مصنوعی و ماشین به نظرم لزومی نداره که در این لیست قرار بگیره و باعث میشه که افراد در
                  حین یادگیری گیج و گمراه شوند و ربطی به برنامه نویسی های نرمال نداره
                </p>
              </div>
            </div>

            <div class="comment-person relative answer-comment">
              <div class="border-gold-500 border p-6 w-full mt-8 rounded-md relative max-sm:p-2 ">
                <div class="flex justify-between w-full">
                  <div class="img-profile flex items-center">
                    <img src="../images/me.png"
                      class="border border-[2px] rounded-full border-gold-500 w-14 h-14 max-md:w-12 max-md:h-12" alt="">
                    <div class="box flex flex-col mx-3 ">
                      <a href="#" class="text-black-700 text-xl font-IRsansBold max-sm:text-mxl">آقای کاف</a>
                      <span class="text-black-500 text-sm">6 ساعت قبل</span>
                    </div>
                  </div>
                  <div class="bottons flex h-[30px] max-sm:absolute left-2 top-3">
                    <div class="like-comment p-1  rounded-md bg-red-50 mx-1 bg-gray-500 flex items-center ">
                      <span class="material-symbols-outlined text-red-500 text-[20px] mx-1 max-sm:text-lxl">
                        favorite
                      </span> <span class="text-red-500 text-base max-sm:text-[13px] ">5</span>

                    </div>
                    <div class="replay-comment mx-1  rounded-md  p-1  bg-gray-300 flex items-center ">
                      <span class=" material-symbols-outlined text-black-500 text-[20px] mx-1 max-sm:text-lxl">
                        compare_arrows
                      </span>
                      <span class="text-black-700 text-base ml-2 max-sm:ml-1 max-sm:text-[13px]">پاسخ</span>

                    </div>
                  </div>
                </div>
                <p class="text-mxl text-black-500 m-2 px-1 max-sm:text-base max-md:text-base  max-sm:mx-0 leading-7">
                  برنامه نویسی هوش مصنوعی و ماشین به نظرم لزومی نداره که در این لیست قرار بگیره و باعث میشه که افراد در
                  حین یادگیری گیج و گمراه شوند و ربطی به برنامه نویسی های نرمال نداره
                </p>
              </div>
              <br>
            </div>

            <!-- end peoples comment -->
          </div>
        </section>
        <!-- End Comment -->


      </main>
      <!--Sidebar w-1/3 -->
      <aside class="aside mr-6 xl:w-[28%] max-xl:w-[31%] max-lg:mr-0 max-lg:w-full ">
         <!-- lates post box -->
         <div
         class="sidebar_single_post mb-8 relative border  border-gray-500 w-full h-auto p-6 max-xl:px-3 max-lg:mt-8 max-sm:mt-11">
         <div class="title">
           <h2
             class="text-black-700 text-lxl w-48 absolute -top-7 right-10 font-bold flex items-center bg-gray-300 p-3 text-center justify-center   max-sm:text-xl">
             <span class="material-symbols-outlined text-3xl ml-2 relative bottom-[2px]">
               rss_feed
             </span>
             <span>پست های اخیر</span>

           </h2>
           <p class=" text-base font-light  mx-6 text-black-500">پست های اخیر ایزگمی در دسترس است.</p>
           <div class="posts">
             <div class="post relative bg-white rounded-md p-4 py-2 pt-5 mt-4 mb-5">
               <h3 class="text-mxl text-black-500 font-bold transition ease-in hover:text-gold-500">
                 <a href="single_post.html">
                   دانلود چیت بازی زولا+نسخه جدید
                 </a>
               </h3>
               <div class="details flex items-center  justify-end  mt-4 mb-2 ">
                 <div class="date flex ">
                   <span class="material-symbols-outlined text-gold-500 text-2xl">
                     calendar_month
                   </span>
                   <span class="text-black-500 text-sm mx-2 relative top-[2px]">
                     5 آذر 1399
                   </span>
                 </div>
                 <div class="tag flex items-center mx-2 mr-4 ">
                   <span class="material-symbols-outlined text-gold-500 text-2xl relative bottom-[2px] ">
                     local_fire_department
                   </span>
                   <span class="text-black-500 text-sm ">
                     k 2.7
                   </span>
                 </div>

               </div>
             </div>
             <div class="post relative bg-white rounded-md p-4 pt-5 py-2 mt-4 mb-5">
               <h3 class="text-mxl text-black-500 font-bold transition ease-in hover:text-gold-500">
                 <a href="single_post.html">
                   دانلود چیت بازی زولا+نسخه جدید
                 </a>
               </h3>
               <div class="details flex items-center  justify-end  mt-4 mb-2 ">
                 <div class="date flex ">
                   <span class="material-symbols-outlined text-gold-500 text-2xl">
                     calendar_month
                   </span>
                   <span class="text-black-500 text-sm mx-2 relative top-[2px]">
                     5 آذر 1399
                   </span>
                 </div>
                 <div class="tag flex items-center mx-2 mr-4 ">
                   <span class="material-symbols-outlined text-gold-500 text-2xl relative bottom-[2px] ">
                     local_fire_department
                   </span>
                   <span class="text-black-500 text-sm ">
                     k 2.7
                   </span>
                 </div>

               </div>
             </div>
             <div class="post relative bg-white rounded-md p-4 pt-5 py-2 mt-4 mb-5">
               <h3 class="text-mxl text-black-500 font-bold transition ease-in hover:text-gold-500">
                 <a href="single_product .html">
                   دانلود چیت بازی زولا+نسخه جدید
                 </a>
               </h3>
               <div class="details flex items-center  justify-end  mt-4 mb-2 ">
                 <div class="date flex ">
                   <span class="material-symbols-outlined text-gold-500 text-2xl">
                     calendar_month
                   </span>
                   <span class="text-black-500 text-sm mx-2 relative top-[2px]">
                     5 آذر 1399
                   </span>
                 </div>
                 <div class="tag flex items-center mx-2 mr-4 ">
                   <span class="material-symbols-outlined text-gold-500 text-2xl relative bottom-[2px] ">
                     local_fire_department
                   </span>
                   <span class="text-black-500 text-sm ">
                     k 2.7
                   </span>
                 </div>

               </div>
             </div>
             <div class="post relative bg-white rounded-md p-4 pt-5 py-2 mt-4 mb-5">
               <h3 class="text-mxl text-black-500 font-bold transition ease-in hover:text-gold-500">
                 <a href="single_product .html">
                   دانلود چیت بازی زولا+نسخه جدید
                 </a>
               </h3>
               <div class="details flex items-center  justify-end  mt-4 mb-2 ">
                 <div class="date flex ">
                   <span class="material-symbols-outlined text-gold-500 text-2xl">
                     calendar_month
                   </span>
                   <span class="text-black-500 text-sm mx-2 relative top-[2px]">
                     5 آذر 1399
                   </span>
                 </div>
                 <div class="tag flex items-center mx-2 mr-4 ">
                   <span class="material-symbols-outlined text-gold-500 text-2xl relative bottom-[2px] ">
                     local_fire_department
                   </span>
                   <span class="text-black-500 text-sm ">
                     k 2.7
                   </span>
                 </div>

               </div>
             </div>
             <a href="blog.html"
               class="text-gold-500 text-mxl read_more_btn   bg-none w-[160px] flex justify-center mx-auto  py-[11px] mt-5 border border-gold-500 text-center font-medium rounded  items-center">
               <span class="mx-2 flex items-center ">
                 مطالعه بیشتر
                 <span class="material-symbols-outlined mx-1 text-[18px] mb-[2px]">
                   data_saver_on

                 </span>
               </span>


             </a>
           </div>
         </div>
       </div>
       <!-- end lates post box -->

       <!-- best cheat -->
       <div class="sidebar_best_cheat mb-8 relative  h-auto">
         <div class="header flex items-center border border-gray-500  p-5 rounded justify-between">
           <span class="text-black-500 text-[17px] font-IRsansBold max-sm:text-xl">
             چیت پلاس
           </span>
           <span class="font-IRsansLight text-black-500 text-mxl">
             5 چیت برتر
           </span>
         </div>
         <div class="items mt-2 relative p-4 max-md:p-1">

           <div class="item_best w-full h-[280px]  relative ">
             <div class="bg-black-500 opacity-40 absolute top-0  w-full h-[280px] z-20"></div>
             <img src="../images/4.jpg" alt="" class="w-full  h-[280px] contrast-50">
             <div class="items_titleq flex items-center absolute -bottom-2 -right-4 z-30">
               <div
                 class="circle w-16 h-[60px] bg-black-700 border-[4px] rounded-full border-gold-500 max-lg:w-16 max-xl:w-[78px]">
                 <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full ">1
                 </span>
               </div>
               <h3 class="text-white text-[17px] max-sm:text-xl font-medium mx-4 relative bottom-3 hover:opacity-60">
                 <a href="single_post.html">
                   چیت بازی زولا + آخرین اپذیت آذر
                 </a>
               </h3>
             </div>
           </div>
           <div class="item_best w-full h-[60px] mt-4 relative ">
             <div class="bg-purple opacity-70 absolute top-0  w-full h-[60px] z-20"></div>
             <img src="../images/single_product_images.jpg" alt="" class="w-full  h-[60px] ">
             <div class="items_titleq flex items-center absolute  bottom-0 -right-4 z-30">
               <div class="circle w-16 h-[60px] bg-black-700 border-[4px] rounded-full border-gold-500">
                 <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full">2
                 </span>
               </div>
               <h3 class="text-white text-[16px] font-medium mx-4 hover:opacity-60">
                 <a href="single_product .html">
                   چیت پابجی پلاس
                 </a>
               </h3>
             </div>
           </div>
           <div class="item_best w-full h-[60PX] mt-4 relative ">
             <div class="bg-red-100 opacity-70 absolute top-0 w-full h-[60PX] z-20"></div>
             <img src="../images/shop-slide-image.jpg" alt="" class="w-full  h-[60PX]  ">
             <div class="items_titleq flex items-center absolute  bottom-0 -right-4 z-30">
               <div class="circle w-16 h-[60PX] bg-black-700 border-[4px] rounded-full border-gold-500">
                 <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full">3
                 </span>
               </div>
               <h3 class="text-white text-[16px] font-medium mx-4 hover:opacity-60 ">
                 <a href="single_post.html">
                   ترینر بازی کانتر گلوبال

                 </a>
               </h3>
             </div>
           </div>
           <div class="item_best w-full h-[60PX] mt-4 relative ">
             <div class="bg-green opacity-70 absolute top-0  w-full h-[60PX] z-20"></div>
             <img src="../images/shop-slide-image.jpg" alt="" class="w-full  h-[60PX] ">
             <div class="items_titleq flex items-center absolute  bottom-0 -right-4 z-30">
               <div class="circle w-16 h-[60PX] bg-black-700 border-[4px] rounded-full border-gold-500">
                 <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full">4
                 </span>
               </div>
               <h3 class="text-white text-[17px] font-medium mx-4 hover:opacity-60 ">
                 <a href="single_product .html"></a>
                 ترینر بازی گلوبال
               </h3>
             </div>
           </div>
           <div class="item_best w-full h-[60PX] mt-4 relative ">
             <div class="bg-gold-500 opacity-70 absolute top-0  w-full h-[60PX] z-20"></div>
             <img src="../images/11.jpg" alt="" class="w-full h-[60PX] ">
             <div class="items_titleq flex items-center absolute  bottom-0 -right-4 z-30">
               <div class="circle w-16 h-[60PX] bg-black-700 border-[4px] rounded-full border-gold-500">
                 <span class="text-gold-500 text-[20px] text-center flex items-center justify-center h-full">5</span>
               </div>
               <h3 class="text-white text-[16px] font-medium mx-4  hover:opacity-60">
               <a href="single_post.html">وال هک بازی ویچر</a>
               </h3>
             </div>
           </div>
         </div>

       </div>
       <!-- lates comments -->
       <div
         class="sidebar_lates_comment mb-5 relative border -mt-2  border-gray-500 w-full h-auto p-6 max-xl:px-3 max-xl:pb-1">
         <div class="title">
           <h2
             class="text-black-700 text-lxl w-48 absolute -top-7 right-10 font-bold flex items-center bg-gray-300 p-3 text-center justify-center   max-sm:text-xl">
             <span class="material-symbols-outlined text-3xl ml-2 relative bottom-[2px]">
               group
             </span>
             <span>آخرین نظرات</span>

           </h2>
           <p class=" text-mxl font-light  mx-6 text-black-500">
             آخرین دیدگاه های ثبت شده در ایزگیم
           </p>

         </div>
         <div class="posts mt-4">
           <div class="post relative border border-gray-500 border-dashed text-mxl p-3 mt-4 mb-5"
             style="border-width: 2px;">
             <a href="single_post.html" class="text-black-500 hover:opacity-60">
               <strong class="text-gold-500">سارا</strong>
               در مطلب دانلود چیت زولا نوشت
             </a>
             <div class="details flex items-center  justify-end  mt-3 mb-1 ">
               <div class="date flex ">

                 <span class="text-black-500 text-sm -mb-2 relative ">
                   26 آذر 1400
                 </span>
               </div>


             </div>
           </div>

           <div class="post relative border border-gray-500 border-dashed text-mxl p-3 mt-4 mb-5"
             style="border-width: 2px;">
             <a href="single_post.html" class="text-black-500 hover:opacity-60">
               <strong class="text-gold-500">سارا</strong>
               در مطلب دانلود چیت زولا نوشت
             </a>
             <div class="details flex items-center  justify-end  mt-3 mb-1 ">
               <div class="date flex ">
                 <span class="text-black-500 text-sm -mb-2 relative ">
                   26 آذر 1400
                 </span>
               </div>


             </div>
           </div>
           <div class="post relative border border-gray-500 border-dashed  text-mxl p-3 mt-4 mb-5"
             style="border-width: 2px;">
             <a href="single_post.html" class="text-black-500 hover:opacity-60">
               <strong class="text-gold-500">سارا</strong>
               در مطلب دانلود چیت زولا نوشت
             </a>
             <div class="details flex items-center  justify-end  mt-3 mb-1 ">
               <div class="date flex ">

                 <span class="text-black-500 text-sm -mb-2 relative ">
                   26 آذر 1400
                 </span>
               </div>


             </div>
           </div>
           <div class="post relative border border-gray-500 border-dashed text-mxl p-3  mt-4 mb-5"
             style="border-width: 2px;">
             <a href="single_post.html" class="text-black-500 hover:opacity-60">
               <strong class="text-gold-500">سارا</strong>
               در مطلب دانلود چیت زولا نوشت
             </a>
             <div class="details flex items-center  justify-end  mt-3 mb-1 ">
               <div class="date flex ">

                 <span class="text-black-500 text-sm -mb-2 relative ">
                   26 آذر 1400
                 </span>
               </div>


             </div>
           </div>
           <div class="post relative border border-gray-500 border-dashed text-mxl p-3 mt-4 mb-5"
             style="border-width: 2px;">
             <a href="single_post.html" class="text-black-500 hover:opacity-60">
               <strong class="text-gold-500">سارا</strong>
               در مطلب دانلود چیت زولا نوشت
             </a>
             <div class="details flex items-center  justify-end  mt-3 mb-1 ">
               <div class="date flex ">

                 <span class="text-black-500 text-sm -mb-2 relative ">
                   26 آذر 1400
                 </span>
               </div>


             </div>
           </div>
         </div>
       </div>
       <!-- end lates comment -->

       <!-- end best cheat box -->
      </aside>
      <!-- end sidebar -->

    </div>
  </div>



{% endblock %}


{% block footer %}
{% render_partial 'Home.views.FooterOne' %}
{% endblock %}

{% block custom_footer_references %}


  <script>
    
    new FormComment()

    const accordionHeader = document.querySelectorAll(".accordion-header");
    accordionHeader.forEach((header) => {
      header.querySelector('#add_circle').addEventListener("click", function () {
        const accordionContent = header.parentElement.querySelector(".accordion-content");
        let accordionMaxHeight = accordionContent.style.maxHeight;

        // Condition handling
        if (accordionMaxHeight == "0px" || accordionMaxHeight.length == 0) {
          accordionContent.style.maxHeight = `${accordionContent.scrollHeight + 32}px`;
          header.querySelector(".material-symbols-outlined").innerHTML = 'expand_less';
          header.parentElement.classList.add("bg-indigo-50");
        } else {
          accordionContent.style.maxHeight = `0px`;
          header.querySelector(".material-symbols-outlined").innerHTML = "expand_more";
          header.parentElement.classList.remove("bg-indigo-50");
        }
      });
    });



    let Mobi = new MobileMenu()
    let Boxes = new MangeBoxDropDown()
    window.addEventListener('click', (event) => {
      if (!Boxes.personBox.contains(event.target) && event.target.contains(filterBody)) {
        Boxes.closePersonBox()
      }
      if (!Boxes.cardBox.contains(event.target) && event.target.contains(filterBody)) {
        Boxes.closeCardBox()
      }
      // toggle menu mobile when click out:
      if (!Mobi.SiteMenu.contains(event.target) && Mobi.StatusMobile && !Mobi.hamber.contains(event.target)) {
        Mobi.close()

      }
    })

    function CopyTextClipBoard() {


      var copyText = document.getElementById("myInput");


      copyText.select();
      copyText.setSelectionRange(0, 99999)


      navigator.clipboard.writeText(copyText.value);


    }

    function closse(event){
    event.target.remove()
    }
  </script>
{% endblock %}