{% extends 'shared/base.html' %}
{% load static %}
{% load render_partial %}
{% load poll_extras %}
{% block title %}
رسانه
{% endblock %}

{% block header_reference %}

<!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
<link href="{% static 'admin_panel/assets/css/tables/table-basic.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'admin_panel/plugins/lightbox/photoswipe.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'admin_panel/plugins/lightbox/default-skin/default-skin.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'admin_panel/plugins/lightbox/custom-photswipe.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'admin_panel/assets/css/forms/custom-clipboard.css' %}" rel="stylesheet" type="text/css">

<!-- END PAGE LEVEL CUSTOM STYLES -->

{% endblock %}

{% block content %}

<div class="row layout-spacing mx-auto">
    <div class="col-lg-12">
        <div class="statbox  box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-md-8 m-4 mr-0">
                        <h3>مدیریت رسانه</h3>
                    </div>
                    <div class="col-md-3" style="text-align: left">
                        <a target="_blank" href="{% url 'gallery_add' %}" class="btn btn-primary  m-4"> افزودن
                            تصویر جدید
                        </a>
                    </div>
                </div>

            </div>
            <div class="">
                <div class="table-responsive  style-1">
                    <div id="style-1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="col-sm-12 col-md-8 mt-4 ">
                            <div class="row">
                                <div class="dataTables_length col-md-6 row " id="style-1_length">
                                    <label>
                                        <input id="selectAll" type="submit" value="انتخاب دسته جمعی" name="txt"
                                               class=" btn btn-dark mx-2" style="height: 43px">
                                    </label>
                                    <div class="row hidden" id="row-btn">
                                        <div>

                                            <button id="deleteAll"
                                                    class="btn btn-danger mx-2 disabled" style="height: 43px">حذف برای
                                                همیشه
                                            </button>
                                        </div>
                                        <div>
                                            <input id="cancelAll" type="submit" value="لغو" name="txt"
                                                   class="btn btn-info mx-2" style="height: 43px">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="results m-4 " id="result_list_post">
                            {% render_partial 'SiteModule.views.GalleryPage' %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
{% include 'layout/component/swalmeesage.html' with title="گالری" %}

{% block script %}
<script src="{% static 'assets/webpack_bundles/axious_main_bundler.js' %}"></script>
<script src="{% static 'admin_panel/plugins/sweetalerts/sweetalert2.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/lightbox/photoswipe.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/lightbox/photoswipe-ui-default.min.js' %}"></script>
<script src="{% static 'admin_panel/plugins/lightbox/custom-photswipe.js' %}"></script>
<script>
  
axios.defaults.xsrfCookieName = 'csrftoken'
     axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
 function cutboard(){
     let val;
     document.querySelectorAll('.pswp__caption__center .clipboard').forEach(element => {
         let inp= element.querySelector("input")
        inp.focus()
        inp.select();
        inp.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(inp.value);
        inp.value=' '
     });
 }
 function copyboard(){
     let val;
     document.querySelectorAll('.pswp__caption__center .clipboard').forEach(element => {
         let inp= element.querySelector("input")
        inp.focus()
        inp.select();
        inp.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(inp.value);
        inp.value
     });
 }

// dificult code
let isDeleting=false
var statuss=1
let restult=document.getElementById('result_list_post')
let deleteAll=document.getElementById('deleteAll')
let selectAll=document.getElementById('selectAll')
let cancelAll=document.getElementById('cancelAll')
let rowbtn=document.getElementById('row-btn')
let ids=[]
let gallery=document.querySelector('.demo-gallery')

function removeItemOnce(arr, value) {
var index = arr.indexOf(value);
if (index > -1) {
 arr.splice(index, 1);
}
return arr;
}
selectAll.addEventListener('click',()=>{
 statuss=0;
 selectAll.classList.toggle('hidden')
 rowbtn.classList.toggle('hidden')
 gallery.classList.toggle('del')

})
gallery.querySelectorAll('a').forEach((el)=>{
         el.addEventListener('click',(e)=>{
             if(statuss===0){
             if(!isDeleting){
                e.preventDefault()
             e.stopPropagation()
             let id=el.getAttribute('data-id')
             if (!ids.includes(Number(id))) {
                 el.classList.add('active')
                 ids.push(Number(id))
             }else{
                 removeItemOnce(ids,Number(id))
                 el.classList.remove('active')
             }
             if(ids.length>0){
                 deleteAll.classList.remove('disabled')
                 deleteAll.innerHTML=`حذف برای همیشه (${ids.length})`}
                 else{
                 deleteAll.classList.add('disabled')
                 deleteAll.innerHTML="حذف برای همیشه"
             }
             }
         }
         })
     })
let reset = () =>{
 if(restult.classList.contains('not-allow')){
     restult.classList.remove('not-allow')
 }
 if(cancelAll.classList.contains('disabled')){
     cancelAll.classList.remove('disabled')
 }
 statuss=1
 ids=[]
 document.querySelector('.demo-gallery').querySelectorAll('.active').forEach((el)=>{
     el.classList.remove('active')
 })
 deleteAll.innerHTML="حذف برای همیشه"
 deleteAll.classList.add('disabled')
 isDeleting=0
}
cancelAll.addEventListener('click',()=>{
 if(!isDeleting){
 selectAll.classList.toggle('hidden')
 rowbtn.classList.toggle('hidden')
 gallery.classList.toggle('del')
 reset()
}
})
deleteAll.addEventListener('click',()=>{
 if(statuss==0 && ids.length>0 && !isDeleting){
     isDeleting=true
 deleteAll.innerHTML="در حال حذف ..."
 restult.classList.add('not-allow')
 cancelAll.classList.add('disabled')
 axios({method: 'post',
                     url: "{% url 'delete_gallery' %}",
                     data: {
                         keys:ids,
                     },
                     headers: {
                         "Content-Type": "application/x-www-form-urlencoded",
                         Accept: "application/json",
                     }
                 }).then(function (response) {
                     if(response.data.status){
                         swal({
             title: "گالری",
             text: `${response.data.count} تصویر با موفقیت حذف شد`,
             type:"success" ,
             padding: '1em'
                         })
            
                        }else{
                        throw new Error("CustomError: Gallery deletion failed");
                     }

                     isDeleting=false
                     selectAll.classList.toggle('hidden')
                    rowbtn.classList.toggle('hidden')
                    gallery.classList.toggle('del')
            
                    const activeElements = gallery.querySelectorAll('a.active');

                    activeElements.forEach(element => {
                    element.remove();
}                   );

                      reset()
                      console.log(gallery)
                 }).catch(function (error) {

                    swal({
             title: "گالری",
             text: 'خطا در حذف تصویر، لطفا مجددا تلاش نمایید.',
             type:"error" ,
             padding: '1em'
                         })
                         isDeleting=false
                         selectAll.classList.toggle('hidden')
 rowbtn.classList.toggle('hidden')
 gallery.classList.toggle('del')

                         reset()
                 })

 }
})
</script>
{% endblock %}