<div class="statbox  box box-shadow">

                            <div class=" p-2" >

                                <div id="demo-test-gallery" class="demo-gallery" data-pswp-uid="1">
                    {% for item in items %}
                                    <a class="img-1" href="{{ item.image.url }}" data-id="{{item.id}}" data-size="1600x1068" data-med="{{ item.image.url }}" data-med-size="1024x683" >
                                        <img src="{{ item.image.url }}" >
                                        <figure>
<div class="clipboard">

                                            <input type="text" class="form-control mb-3" id="input-copy{{item.id}}" value="{{url}}{{item.image.url}}">
                                          <div class="div" style="display:flex;justify-content:center">
                                            <label onclick="copyboard()" class="mb-2 btnme btn btn-primary mx-1"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg> کپی از ورودی</label>
                                            <label onclick="cutboard()" class="mb-2 btnme btn btn-dark mx-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> برش از ورودی</label>

                                          </div>

                                    </div>
                                        </figure>
                                    </a>
                    {% endfor %}

                                </div>
                                <!-- Root element of PhotoSwipe. Must have class pswp. -->
                                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                                    <!-- Background of PhotoSwipe. It's a separate element, as animating opacity is faster than rgba(). -->
                                    <div class="pswp__bg"></div>

                                    <!-- Slides wrapper with overflow:hidden. -->
                                    <div class="pswp__scroll-wrap">
                                        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                                        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
                                        <div class="pswp__container">
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                        </div>

                                        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                                        <div class="pswp__ui pswp__ui--hidden">

                                            <div class="pswp__top-bar">

                                                <!--  Controls are self-explanatory. Order can be changed. -->
                                                <div class="pswp__counter"></div>
                                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                                <button class="pswp__button pswp__button--share" title="Share"></button>
                                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                                <!-- element will get class pswp__preloader--active when preloader is running -->
                                                <div class="pswp__preloader">
                                                    <div class="pswp__preloader__icn">
                                                      <div class="pswp__preloader__cut">
                                                        <div class="pswp__preloader__donut"></div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                                <div class="pswp__share-tooltip"></div>
                                            </div>
                                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                            </button>
                                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                            </button>
                                            <div class="pswp__caption">
                                                <div class="pswp__caption__center"></div>
                                            </div>

                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    <div class="row m-2" style="display:flex;justify-content:center;width:100%;padding-top:20px;">
        <div class="col-sm-12 col-md-6 ">
            <div class="dataTables_info mt-1" id="style-1_info" role="status" aria-live="polite">
                صفحه {{ items.number }} از
                {{paginator.num_pages}}
            </div>
        </div>
        <div class="col-sm-12 col-md-6" style="text-align: left;">
            <div class="dataTables_paginate paging_simple_numbers" id="style-1_paginate">
                <ul class="pagination" style="    justify-content: flex-end;">
                    {% if items.has_previous %}
                    <li class="paginate_button page-item next" id="zero-config_next">
                        <a href="?page={{ items.previous_page_number }}"
                           aria-controls="zero-config"
                           data-dt-idx="5"
                           tabindex="0"
                           class="page-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-arrow-right">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </a></li>
                    {% endif %}
                    {% for pageNumber in paginator.page_range %}
                    <li></li>
                    <li class="paginate_button page-item {% if items.number == pageNumber %} active  {% endif %}">
                        <a href="?page={{ pageNumber }}" aria-controls="zero-config"
                           data-dt-idx="1"
                           tabindex="0" class="page-link">{{ pageNumber }}</a>
                    </li>
                    {% endfor %}
                    <li></li>
                    {% if items.has_next %}
                    <li class="paginate_button page-item previous "
                        id="zero-config_previous"><a
                            href="?page={{ items.next_page_number }}"
                            aria-controls="zero-config"
                            data-dt-idx="0" tabindex="0" class="page-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round" class="feather feather-arrow-left">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                        </svg>
                    </a></li>

                    {% endif %}


                </ul>
            </div>
        </div>
    </div>