/*
	===============================
			@Import	Function
	===============================
*/
/*
	===============================
			@Import	Mixins
	===============================
*/
.table-controls {
  padding: 0;
  margin: 0;
  list-style: none; }
  .table-controls > li {
    display: inline-block;
    margin: 0 2px;
    line-height: 1; }
    .table-controls > li > a {
      display: inline-block; }
      .table-controls > li > a i {
        margin: 0;
        color: #555;
        font-size: 16px;
        display: block; }
        .table-controls > li > a i:hover {
          text-decoration: none; }

.table .progress {
  margin-bottom: 0; }

/*Table Colors*/
.contextual-table.table > thead > tr > th, .contextual-table.table > tbody > tr > td {
  border: none; }

.table-default > td, .table-default > th {
  background-color: #f1f2f3;
  color: #3b3f5c; }

.table-primary > td, .table-primary > th {
  background-color: #c7d8fd;
  color: #2196f3; }

.table-secondary > td, .table-secondary > th {
  background-color: #e0d4f9;
  color: #5c1ac3; }

.table-success > td, .table-success > th {
  background-color: #cbfdf3;
  color: #8dbf42; }

.table-danger > td, .table-danger > th {
  background-color: #ffe1e2;
  color: #e7515a; }

.table-warning > td, .table-warning > th {
  background-color: #fdefd5;
  color: #e2a03f; }

.table-info > td, .table-info > th {
  background-color: #bae7ff;
  color: #2196f3; }

.table-light > td, .table-light > th {
  background-color: #fff;
  color: #888ea8; }

.table-dark > td, .table-dark > th {
  background-color: #acb0c3;
  color: #515365;
  border-color: #fff !important; }
.form-error{
  color: #ef2d2d;
  border-color: #ef2d2d !important;
}
#cke_id_content,.django-ckeditor-widget{

  width: 100% !important;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: left;
  display: inline-block; }

.page-link {
  margin-left: 5px;
  border-radius: 50%;
  padding: 8px 12px;
  background: rgba(0, 23, 55, 0.08);
  border: none;
  color: #888ea8; }
  .page-link:focus {
    box-shadow: none; }

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 3px 0; }

.page-item.disabled .page-link {
  background: #f1f2f3; }
  .page-item.disabled .page-link svg {
    color: #acb0c3; }

.page-item:first-child .page-link, .page-item:last-child .page-link {
  border-radius: 50%;
  padding: 5px 9px; }
  .page-item:first-child .page-link svg, .page-item:last-child .page-link svg {
    width: 17px; }

.page-item.active .page-link {
  background-color: rgb(78,78,78,30); }

#alter_pagination_next a, #alter_pagination_previous a {
  border-radius: 50%;
  padding: 5px 9px; }

#alter_pagination_next a svg, #alter_pagination_previous a svg {
  width: 17px; }

.table-cancel {
  color: #888ea8;
  margin-left: 6px;
  vertical-align: middle;
  fill: rgba(0, 23, 55, 0.08);
  cursor: pointer; }