<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>   {% block title %}{% endblock %} - ایز گیم </title>
 {% include 'HomeShared/header_references.html' %}
{% block custom_header_references %}{% endblock%}
</head>

<body class="relative">
<!--header component-->
  <div class="z-40 w-full  h-full fixed top-0 right-0 backdrop-filter bg-opacity-60 bg-[#2f3c53] hidden" id="filter-overflow"></div>

  <div class="container mx-auto">
{% block header %} {% endblock %}
<!--end header component-->
  </div>

<!--main Content-->
{% block main %}

{% endblock %}
<!-- end main Content-->


<!--footer component-->
{% include 'HomeComponent/footer1.html' %}
<!-- end footer component -->

{% include 'HomeShared/footer_references.html' %}
{% block custom_footer_references %}{% endblock %}


</body>
</html>