                            <div id="comment_responde">

          <form unicorn:submit.prevent="submit"
                  class=" rounded p-2 w-full mt-2 relative pb-[90px]  max-lg:mt-6 max-lg:px-2 max-md:px-0 max-md:mt-2 max-md:border-none ">

                  <div class="flex max-md:flex-col">
                    <div class="input-group max-md:w-full p-4 relative  w-1/2 max-sm:p-1">
                      <span
                        class="material-symbols-outlined max-md:hidden text-gray-500 text-[24px] absolute right-7 top-[28px]">
                        person
                      </span>
                      <input required unicorn:model.defer="name" type="text"
                        class="border w-full max-md:p-3 p-4 pr-11 outline-1 text-mxl outline-gray-500 transition-all ease-in border-gray-500 text-black-500 rounded ml-3 bg-white border-none outline-none focus:outline-black-500 font-IRsansLight"
                        placeholder="لطفا نام خود را وارد نمایید.">
                    </div>
                    <div class="input-group max-md:w-full p-4 relative max-sm:mt-3  w-1/2 max-sm:p-1">
                      <span
                        class="material-symbols-outlined max-md:hidden text-gray-500 text-[22px] absolute right-7 top-[31px]">
                        alternate_email
                      </span>
                      <input required unicorn:model.defer="email" type="email"
                        class="border w-full  p-4 max-md:p-3 pr-11 outline-1 text-mxl outline-gray-500 transition-all ease-in border-gray-500 text-black-500 rounded bg-white border-none outline-none focus:outline-black-500 font-IRsansLight"
                        placeholder="لطفا ایمیل خود را وارد نمایید.">
                    </div>
                  </div>
                  <div class="input-group w-full px-4 max-sm:px-1  mt-4 relative ">

                    <textarea unicorn:model.defer="message" rows="7" name="content" required
                      class="border outline-1 text-mxl  w-full border-solid p-4  outline-gray-500 transition-all ease-in border-gray-500 text-black-500 rounded ml-3 bg-white border-none outline-none focus:outline-black-500 font-IRsansLight "
                      placeholder="لطفا چیزی را جهت نوشتن وارد کنید."></textarea>
                  </div>
                  <div class="flex float-left sm:ml-4 max-sm:w-full ">
                    <button
                      class=" text-gold-500 text-mxl read_more_btn first-letter max-sm:w-1/2   bg-none w-[120px] flex justify-center
                      py-[11px] h-12 mt-3 border border-gold-500 text-center font-medium rounded  items-center ">
                      <span class="mx-2 flex items-center  ">
                        ثبت نظر
                      </span>
                    </button>
                    <a href="#"
                      class=" cancel mb-10 h-12  text-black-500 max-sm:w-1/2 text-mxl hover:bg-black-500 hover:text-white transition mr-2  bg-none w-[120px] flex justify-center
                         py-[11px] mt-3 border border-gray-500  text-center font-medium rounded hidden  text-black-500items-center ">
                      <span class="mx-2 flex items-center  ">
                        انصراف
                      </span>
                    </a>
                  </div>

                </form>



  </div>
