{% extends 'shared/base.html' %}
{% load static %}
{% load render_partial %}
{% load poll_extras %}
{% block title %}
مدیریت مقالات
{% endblock %}

{% block header_reference %}
<!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
<link rel="stylesheet" type="text/css" href="{% static 'admin_panel/plugins/table/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin_panel/assets/css/forms/theme-checkbox-radio.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'admin_panel/plugins/table/datatable/dt-global_style.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'admin_panel/plugins/table/datatable/custom_dt_custom.css' %}">
<!-- END PAGE LEVEL CUSTOM STYLES -->
<link rel="stylesheet" href="{% static 'admin_panel/plugins/sweetalerts/sweetalert2.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_panel/plugins/loaders/custom-loader.css' %}">
{% endblock %}

{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">حذف آیتم های انتخابی</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                </button>
            </div>
            <div class="modal-body">
                <p class="modal-text">آیا شما برای حذف این پست()\پست ها مطمئن هستید؟ در صورت تایید این پست/پست ها در پایگاه داده پاک
                    می گردد. </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                <button type="button" class="btn btn-danger text-center" id="btn_confirm_delete">
                    <span>تایید</span>
                    <svg style="display: none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader spin ">
                        <line x1="12" y1="2" x2="12" y2="6"></line>
                        <line x1="12" y1="18" x2="12" y2="22"></line>
                        <line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line>
                        <line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line>
                        <line x1="2" y1="12" x2="6" y2="12"></line>
                        <line x1="18" y1="12" x2="22" y2="12"></line>
                        <line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line>
                        <line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line>
                    </svg>

                </button>
            </div>
        </div>
    </div>
</div>
<div class="row layout-spacing mx-auto">
    <div class="col-lg-12">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-md-8 m-4">
                        <h3>مدیریت نوشته ها</h3>
                    </div>
                    <div class="col-md-3" style="text-align: left">
                        <a target="_blank" href="{% url 'post_add_admin' %}" class="btn btn-primary  m-4"> افزودن
                            نوشته جدید
                        </a>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="table-responsive mb-4 style-1">
                    <div id="style-1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12  col-xl-8  ">
                                <div class="row">
                                    <div class="dataTables_length col-lg-12 col-2xl-4 " id="style-1_length">
                                        <label>
                                            <select id="selectRun" style="width: 260px;cursor: pointer"
                                                    name="style-1_length" aria-controls="style-1"
                                                    class="form-control">
                                                <option value="5">همه کارهای دسته جمعی</option>
                                                <option value="delete">حذف گروهی</option>
                                                <option value="draft">تبدیل به پیش نویس</option>
                                                <option value="post">تبدیل به منتشر شده</option>
                                            </select>
                                            <input id="runBtn" type="submit" value="اجرا" name="txt"
                                                   class=" btn btn-danger mx-2 " style="height: 43px">
                                        </label>
                                    </div>


                                    <div class="dataTables_length col-lg-12 col-2xl-4" id="style-2_length">
                                        <label>
                                            <select style="width: 210px;cursor: pointer"
                                                    name="style-1_length" aria-controls="style-1"
                                                    class="form-control" id="category">
                                                <option value="null">دسته بندی ها</option>
                                                {% for cat in cats %}
                                                <option value="{{ cat.id }}">{{ cat.title }}</option>
                                                {% endfor %}


                                            </select>
                                            <select style="width: 230px;cursor: pointer;margin-right: 5px"
                                                    name="style-1_length" aria-controls="style-1"
                                                    class="form-control" id="date">
                                                <option value="null">تاریخ</option>
                                                {% for time in times %}
                                                <option value="{{ time }}">{{ time.date | jalali_date_month }}
                                                    ({{ time.count }})
                                                </option>
                                                {% endfor %}

                                            </select>
                                            <input id="filter" type="submit" value="فیلتر" name="txt"
                                                   class=" btn btn-warning mx-2" style="height: 43px">
                                        </label>
                                    </div>
                                </div>

                            </div>


                            <div class="col-sm-12 col-md-3 col-xl-4 col-2xl-3 ">
                                <div id="style-1_filter" class="dataTables_filter"><label>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                    <input type="search" id="search_query" style="width: 270px" class="form-control"
                                           placeholder="جستجو کنید..."
                                           aria-controls="style-1"></label></div>
                            </div>
                        </div>
                        <div class="results" id="result_list_post">
                            {% render_partial 'Post.views.ListPost' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}

{% include 'layout/component/swalmeesage.html' with title="مدیریت پست" %}

<script src="{% static 'admin_panel/plugins/table/datatable/datatables.js' %}"></script>
<script src="{% static 'assets/webpack_bundles/axious_main_bundler.js' %}"></script>
<script>
    var myurl="{% url 'post_delete_admin' %}"
    var url_draft="{% url 'post_draft_request' %}"
</script>
<script src="{% static 'assets/js/PostList.js' %}"></script>

<script>
//     function removeItemOnce(arr, value) {
// var index = arr.indexOf(value);
// if (index > -1) {
// arr.splice(index, 1);
// }
// return arr;
// }
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    // class DeleteItem {
    //     //  properties
    //     CheckAllBtn = 
    //     items = []
    //     single=0
    //     status = false
    //     ConfirmBtn = document.getElementById('btn_confirm_delete')
    //     AllElement = document.querySelectorAll("[data-field-number]")
    //     constructor() {
    //         this.AllElement.forEach((el) => {
    //             el.querySelector('.deleteBtn').addEventListener('click', () => {
    //                 this.reset()
    //                 this.getId(el.getAttribute('data-field-number'))
    //             })
    //         })
    //         this.ConfirmBtn.addEventListener('click', (e) => {


    //             if (!this.status) {
    //                 this.ConfirmDeleted()
    //             }
    //         })
    //         this.CheckAllBtn.addEventListener('change', () => {
    //             this.checkedAll()
    //         })
    //     }
    //     // methods
    //     getId(id) {
    //         this.status = false
    //         this.single = Number(id)
    //     }
    //     pushId(id){
    //         this.items.push(Number(id))
    //     }
    //     ConfirmDeleted() {
    //         if (this.status == false) {
    //             this.status = true
    //             this.ConfirmBtn.querySelector('span').style.display = 'none'
    //             this.ConfirmBtn.querySelector('svg').style.display = "block";
    //             var self = this;
    //             axios({
    //                 method: 'post',
    //                 url: "{% url 'post_delete_admin' %}",
    //                 data: {
    //                     id: [this.single],
    //                 },
    //                 headers: {
    //                     "Content-Type": "application/x-www-form-urlencoded",
    //                     Accept: "application/json",
    //                 }
    //             }).then(function (response) {

    //                 if (response.data['status']) {
    //                     self.Finnish(response.data['ids'])
    //                 }
    //             }).catch(function (error) {
    //                 this.ConfirmBtn.querySelector('span').innerHTML = "خطا در حذف، لطفا مجددا امتحان کنید."
    //             }).finally(()=>{

    //             })
    //         }
    //     }
    //     reset(){
    //         if(this.ConfirmBtn.classList.contains('btn-success')){
    //             this.ConfirmBtn.classList.remove('btn-success')
    //             this.ConfirmBtn.classList.add('btn-danger')
    //             this.ConfirmBtn.querySelector('span').innerHTML = "حذف"
    //             items=[]
    //         }
    //     }
    //     Finnish(items) {
    //         this.ConfirmBtn.querySelector('svg').style.display = "none";
    //         this.ConfirmBtn.classList.add('btn-success');
    //         this.ConfirmBtn.querySelector('span').style.display = 'block'
    //         this.ConfirmBtn.querySelector('span').innerHTML = "حذف شد!"

    //         document.querySelectorAll(`[data-field-number='${items}']`).forEach((el) => {
    //             el.remove()
    //         })
    //     }

    //     checkedAll() {
    //     if (this.CheckAllBtn.checked===true){
    //         this.AllElement.forEach((el)=>{
    //             this.items.push(el.getAttribute('data-check-id'))
    //             el.querySelector('.inputchecked').checked=true
    //         })
    //     }else{
    //               this.items=[]
    //              this.AllElement.forEach((el)=>{
    //             el.querySelector('.inputchecked').checked=false
    //         })
    //     }
    //     }
    // }

    // const deleteItems = new DeleteItem();

//     class Select{
//         selectRun=document.getElementById('selectRun')
//         runbtn=document.getElementById('run')
//         checks=document.querySelectorAll('.customer-all-info')
//         constructor(){

//             this.checks.forEach((el)=>{
//                 el.addEventListener('click',()=>{
//                    if(!el.checked){
//                     console.log(deleteItems.items)
//                     removeItemOnce(deleteItems.items,Number(el.getAttribute('data-check-id')))
//                    }else{
//                     deleteItems.items.push(el.getAttribute('data-check-id'))
//                    }
//                    console.log(deleteItems.items)

//                 })
//             })
//         }

//         selecttion(){
//             switch (selectRun.value) {
//                 case 'delete':
//                     alert("delete")
//                     break;

//                 default:
//                     break;
//             }
//         }
//     }
//     new Select()

    class FilterQuery{
        search=document.getElementById('search_query');
        filterBtn=document.getElementById('filter');
        category;
        date;
        constructor() {

        this.filterBtn.addEventListener('click',()=>{
        this.Filter()
        })
        this.search.addEventListener('keyup',()=>{
            this.Search()

        })
        }

        Filter(){
             this.int+=1;
        this.category=document.getElementById('category').value;
        this.date=document.getElementById('date').value;
        }

        Search(){
        this.SendAxois(null,null,this.search.value.trim())
        }

        SendAxois(date,category,search){
                      var self = this;
                axios({
                    method: 'post',
                    url: "{% url 'filter_article_admin' %}",
                    data: {
                        title:search,
                        date:date,
                        category:category
                    },
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        Accept: "application/json",
                    }
                }).then(function (response) {
                        self.SetData(response.data)

                }).catch(function (error) {
                    console.log(error)
                })
        }

        SetData(response){
            console.log(response)
            document.getElementById('result_list_post').innerHTML=response
        }
    }
    new FilterQuery()
</script>
{% endblock %}