{% extends 'shared/base.html' %}
{% load static %}
{% load poll_extras %}
{% block title %}
افزودن منو
{% endblock %}
{% block header_reference %}
<link href="{% static 'admin_panel/assets/css/tables/table-basic.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}

<div class="col-lg-10 mx-auto mt-5 ">
 <div class="table-responsive d  bg-white p-5">
     <div class="widget-header">
         <div class="row">
                        <div id="flFormsGrid" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>افزودن ایتم به منو</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <form method="post" action="{% url 'addMenu' menu=place%}">
                                    {% csrf_token %}
                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-6">
                                                <label for="inputname">نام آیتم</label>
                                                {{ form.title }}
                                                {% if form.title.errors %}
                                                       <div style="color: #ef2d2d;margin-bottom: -60px !important;" class="alert alert-arrow-right alert-icon-right alert-light-danger mb-2 mt-2" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
                                        <strong>هشدار!</strong>{{ form.title.errors }}
                                    </div>
                                                {% endif %}

                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputsort">ترتیب نمایش</label>
      {{ form.sort }}
                                                {% if form.sort.errors %}
                                                       <div style="color: #ef2d2d;margin-bottom: -60px !important;" class="alert alert-arrow-right alert-icon-right alert-light-danger mb-2 mt-2" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
                                        <strong>هشدار!</strong>{{ form.sort.errors }}
                                    </div>
                                                {% endif %}                                            </div>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label for="inputurl">آدرس</label>
      {{ form.url }}
                                                {% if form.url.errors %}
                                                       <div style="color: #ef2d2d;margin-bottom: -60px !important;" class="alert alert-arrow-right alert-icon-right alert-light-danger mb-2 mt-2" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
                                        <strong>هشدار!</strong>{{ form.url.errors }}
                                    </div>
                                                {% endif %}                                            </div>

                                        <div class="form-row mb-4">
                                            <div class="form-group col-md-5">
                                                <label for="inputfont">نام فونت آیکون</label>
      {{ form.icon_name }}
                                                {% if form.icon_name.errors %}
                                                       <div style="color: #ef2d2d;margin-bottom: -60px !important;" class="alert alert-arrow-right alert-icon-right alert-light-danger mb-2 mt-2" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
                                        <strong>هشدار!</strong>{{ form.icon_name.errors }}
                                    </div>
                                                {% endif %}                                                </div>

                                            <div class="form-group col-md-3">
                                                <label for="inputcolor">رنگ آیکون</label>
      {{ form.icon_color }}
                                                {% if form.icon_color.errors %}
                                                       <div style="color: #ef2d2d;margin-bottom: -60px !important;" class="alert alert-arrow-right alert-icon-right alert-light-danger mb-2 mt-2" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
                                        <strong>هشدار!</strong>{{ form.icon_color.errors }}
                                    </div>
                                                {% endif %}                                                </div>
                                                                                       <div class="form-group col-md-4">
                                                                                           <label for="inputplace">جایگاه منو</label>
                                                                                           {{ form.place_menu }}

{#                                                <select id="inputplace" class="form-control p-2">#}
{#                                                    <option selected="">جایگاه فوتر سمت چپ</option>#}
{#                                                    <option>...</option>#}
{#                                                </select>#}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check pl-0">
                                                <div class="custom-control custom-checkbox checkbox-info">
                                                            {{ form.is_active }}

                                                    <label class="custom-control-label" for="gridCheck">نمایش ایتم فعال باشد.</label>
{% if form.is_active.errors %}
                                                       <div style="color: #ef2d2d;margin-bottom: -60px" class="alert alert-arrow-right alert-icon-right alert-light-danger mb-2 mt-2" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12" y2="16"></line></svg>
                                        <strong>هشدار!</strong>{{ form.is_active.errors }}
                                    </div>
                                                {% endif %}
                                                </div>

                                            </div>
                                        </div>
                                      <button type="submit" class="btn btn-primary mt-3">افزودن آیتم جدید</button>
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
     </div>
 </div>
</div>
{% include 'layout/component/swalmeesage.html' with title="مدیریت منو" %}

{% endblock %}
{% block script %}
    <script>
    let selectorInput=document.getElementById('inputplace');
    selectorInput.value="{{ place }}";



    </script>
{% endblock %}