{% extends 'layout/auth_admin_layout/base.html' %}
{% load static %}
{% block title %}
     باز نشانی پسورد   | ایزگیم
{% endblock %}
{% block reference_css %}
<link href="{% static '/admin_panel/assets/css/authentication/form-2.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">
                        {% include 'layout/component/message.html' %}

                        <h1 class="">تغییر رمزعبور</h1>
                        <p class="signup-link recovery">رمز و تکرار رمز عبور خود را وارد نمایید</p>
                        <form class="text-left" method="post" action="{% url 'resetpassword_confirm' token=token %}">
                            {% csrf_token %}
                            <div class="form">

                                <div id="email-field" class="field-wrapper input">
                                    <div class="d-flex justify-content-between">
                                        <label for="email">پسورد</label>
                                    </div>
<svg style="top: 45px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>                                    {{form.password}}                                </div>
  <div id="email-field" class="field-wrapper input">
                                    <div class="d-flex justify-content-between">
                                        <label for="email">تکرار پسورد</label>
                                    </div>
<svg style="top: 45px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>                                    {{ form.confirm_password }}
                                </div>
                                <div class="d-sm-flex justify-content-between">

                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value=""> بازنشانی پسورد</button>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}