{% extends 'layout/auth_admin_layout/base.html' %}
{% load static %}
{% block title %}
    باز نشانی پسورد   | ایزگیم
{% endblock %}
{% block reference_css %}
    <link href="{% static '/admin_panel/assets/css/authentication/form-2.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="form-container outer">
        <div class="form-form">

            <div class="form-form-wrap">
                <div class="form-container">

                    <div class="form-content">
{% include 'layout/component/message.html' %}
                        <h1 class=""> رمزعبور</h1>
                        <p class="signup-link recovery">ایمیل یا نام کاربری خود را وارد کنید ، ایمیل تغییر رمز برای شما
                            ارسال می شود!</p>
                        <form class="text-left" method="post" action="{% url 'resetpassword' %}">
                            {% csrf_token %}

                            <div class="form">

                                <div id="email-field" class="field-wrapper input">
                                    <div class="d-flex justify-content-between">
                                        <label for="email">ایمیل یا نام کاربری</label>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-at-sign">
                                        <circle cx="12" cy="12" r="4"></circle>
                                        <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
                                    </svg>
                                    {{form.username}}
                                </div>

                                <div class="d-sm-flex justify-content-between">

                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="">ارسال ایمیل بازنشانی
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}