<footer class="relative  ">
    <svg viewBox="0 -20 700 110" width="100%" height="85" preserveAspectRatio="none">
      <path transform="translate(0, -20)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700" fill="#FFCD17"></path>
      <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="white"></path>
    </svg>


    <div class="footer-div w-full  bg-white h-auto py-4 pt-0 flex flex-col ">



      <div class="boxs flex  justify-around  flex-wrap max-lg:px-8 max-md:px-4 max-lg:justify-between">

        <div class="about-footer flex  w-1/4 max-xl:w-[350px]  flex-col max-lg:mb-4">
          <div class="flex items-center">
            <div class="icon mt-1">
              <span class="material-symbols-outlined text-gold-500 text-[26px] ml-2">
                group
              </span>

            </div>
            <h3 class="text-black-700 text-[17px] ">درباره ما</h3>
          </div>

          <p class="text-right text-mxl leading-8 mt-2 text-black-500">وبسایت ایزگیم در تابستان سال 1401 به منظور یک
            پروژه تمرینی و نمونه کاری تاسیس گردید.
            هدف از طراحی ایزگیم کمک به کاربران فارسی عاشق و علاقه مند گیم بود.
          </p><br>
          <div class="flex items-center">
            <div class="icon items-center ">
              <span class="material-symbols-outlined text-red-100 text-[26px] ml-2 mt-1">
                email
              </span>

            </div>
            <h3 class="text-black-700 text-[17px] ">ایمیل پشتیبانی</h3>
          </div>

          <a href="mailto: mr.alireza.keshavarz@gmail.com" class="text-right text-mxl leading-8 mt-2 text-black-500">
            mr.alireza.keshavarz@gmail.com
          </a>
        </div>

        <div class="access-footer  flex w-1/5 max-xl:w-[290px] flex-col max-lg:mb-2">
          <div class="flex -mb-4">
            <div class="icon ">
              <span class="material-symbols-outlined text-purple text-[26px] ml-2">
                control_point_duplicate
              </span>

            </div>
            <h3 class="text-black-700 text-[17px] ">دسترسی سریع</h3>
          </div>

          <ul class="flex flex-col flex-wrap h-44 max-sm:-mb-5">
            <li class="ml-4 mt-6"><a href="shop.html" class="text-black-500 text-mxl hover:opacity-70">محصولات</a></li>
            <li class="ml-4 mt-6"><a href="cart.html" class="text-black-500 text-mxl hover:opacity-70">سبد خرید</a></li>
            <li class="ml-4 mt-6"><a href="category_blog.html" class="text-black-500 text-mxl hover:opacity-70">چیت</a>
            </li>
            <li class="ml-4 mt-6"><a href="blog.html" class="text-black-500 text-mxl hover:opacity-70">بلاگ</a></li>
            <li class="ml-4 mt-6"><a href="user-das.html" class="text-black-500 text-mxl hover:opacity-70">حساب
                کاربری</a></li>

          </ul>
        </div>



        <div class="Newsletters flex  w-1/4 max-xl:w-[350px] flex-col max-lg:mb-4">
          <div class="flex">
            <div class="icon ">
              <span class="material-symbols-outlined text-green text-[26px] ml-2">
                alternate_email
              </span>

            </div>
            <h3 class="text-black-700 text-[17px] "> عضویت در خبرنامه</h3>
          </div>
          <p class="text-base text-black-500 ">لطفا جهت عضویت در خبرنامه ایمیل خود را وارد نمایید</p>
          <div class="form-floating mt-4 mb-3 relative">
            <input type="email" class="form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-black-700
            bg-gray-300 bg-clip-padding
            border border-gray-300
            rounded
            transition
            ease-in-out m-0 focus:text-black-500 h-[50px] focus:bg-white focus:border-green focus:outline-none" id="floatingInput" placeholder="name@example.com">
            <button class="bg-green text-base text-white  p-2 px-4 h-[50px]  absolute left-0 top-0 border-b-none ">ثبت</button>
          </div>
        </div>




      </div>
      <hr class="bg-gray-300 max-md:my-2 my-6 mb-0 w-5/6 text-gray-300 text-center mx-auto h-[2px]">
      <div class="flex w-full items-center justify-center flex-wrap">
        <ul class="flex max-md:hidden">
          <li class="mx-6"><a href="index.html" class="text-black-500 text-mxl hover:opacity-70">خانه</a></li>
          <li class="mx-6"><a href="blog.html" class="text-black-500 text-mxl hover:opacity-70">بلاگ</a></li>
          <li class="mx-6"><a href="register-form.html" class="text-black-500 text-mxl hover:opacity-70">ورود</a></li>
          <li class="mx-6"><a href="blog.html" class="text-black-500 text-mxl hover:opacity-70">آموزش</a></li>
          <li class="mx-6"><a href="aboue.html" class="text-black-500 text-mxl hover:opacity-70">درباره ما</a></li>
        </ul>
        <div class="logo w-20 h-20 mx-8">
          <img src="../images/logo.png" alt="logo" title="logo">
        </div>
        <ul class="flex max-md:hidden">
          <li class="mx-6"><a href="shop.html" class="text-black-500 text-mxl hover:opacity-70">فروشگاه</a></li>
          <li class="mx-6"><a href="category_blog.html" class="text-black-500 text-mxl hover:opacity-70">چیت</a></li>
          <li class="mx-6"><a href="category_blog.html" class="text-black-500 text-mxl hover:opacity-70">دسته</a></li>
          <li class="mx-6"><a href="user_profile.html" class="text-black-500 text-mxl hover:opacity-70">پروفایل</a></li>
          <li class="mx-6"><a href="contact.html" class="text-black-500 text-mxl hover:opacity-70">تماس</a></li>
        </ul>
      </div>
      <div class="flex flex-col justify-center w-full">
        <div class="socail_box flex  mb-0 mt-2 h-9  w-52 mx-auto justify-between">
          <a href="https://t.me/pares28">
            <div class="telegram ease-in transition fill-gray-700 hover:fill-[#32AFE6]">

              <svg xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px] mx-2" viewBox="0 0 496 512" fill="">
                <!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                <path d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z">
                </path>
              </svg>
            </div>
          </a>

          <a href="https://instagram.com/keshavarz_28">
            <div class="instagram ease-in transition fill-gray-700 hover:fill-[#E23BDC]">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px] mx-2" viewBox="0 0 448 512"><!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                </path>
              </svg>
              <!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
              <path d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z">
            </path></div>
          </a>



          <a href="http://twitter.com/mrkaf_">


            <div class="twitter ease-in transition fill-gray-700 hover:fill-[#31A6F5]">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px] mx-2" viewBox="0 0 512 512"><!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                </path>
              </svg>
            </div>
          </a>

          <a href="#">
            <div class="facebook ease-in transition fill-gray-700 hover:fill-[#4E49D4]">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-[23px] h-[24px] mx-2" viewBox="0 0 320 512"><!--! Font Awesome Free 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                </path>
              </svg>

            </div>
          </a>

        </div>


        <div class="copyright-cell text-black-500 text-mxl text-center mt-2">
          تمامی حقوق متعلق به
          <a href="https://mr-keshi.ir" class="text-gold-500">آقای کاف</a>
          می باشد.
        </div>
      </div>
    </div>


  </footer>