   {% load static %}

    <div class="icon-top lg:hidden bg-black-700 w-full p-3 h-14  ">

      <ul>
        <div class=" flex  ">
          <li class="absolute right-3 top-[7px]">
            <a href="user_profile.html">
              <div class="flex items-center mx-1">
                <div class="w-10 h-10 rounded-full  text-white flex justify-center items-center hover:text-white hover:bg-black-700 ease-in transition">
                  <span class="material-symbols-outlined text-[22px]">
                    person
                  </span>
                </div>

              </div>

            </a>
          </li>



          <li class="absolute left-3 top-[7px]">
            <a href="shop.html">
              <div class="flex items-center mx-1">
                <div class="w-10 h-10 rounded-full  text-white flex justify-center items-center relative hover:text-white hover:bg-black-700 ease-in transition">
                  <span class="absolute w-5 text-white text-center  rounded-full  text-mini -left-1 top-1  bg-gold-500">4</span>
                  <span class="material-symbols-outlined text-[22px]">
                    shopping_bag
                  </span>
                </div>

              </div>

            </a>
          </li>


        </div>
      </ul>



    </div>
    <header class="max-lg:relative">
      <div class="bg-white max-md:h-24 h-28 items-center px-12 max-md:px-4 flex max-lg:justify-between justify-around">

        <div class="logo-search flex items-center">
          <a href="index.html" class="hover:opacity-90">
            <img src="{% static 'Home/' %}/images/logo-top-header.png" class="ml-2 h-12 max-md:h-10" alt=""></a>
          <div class="flex justify-center mx-3 h-12 max-lg:hidden">
            <div class="mb-3 xl:w-96 relative">
              <div class="input-group relative flex flex-wrap items-stretch w-full mb-4 rounded">
                <input type="" id="search" class="form-control relative flex-auto min-w-0 block lg:w-[250px] w-full px-3 py-1.5 text-base font-normal text-black-500 bg-gray-300 border border-gray-300 h-12 bg-clip-padding rounded transition ease-in-out m-0  focus:outline-none focus:border-gray-500" placeholder="چیزی را برای جست و جو وارد کنید.">
                <span class="input-group-text flex items-center px-3 py-1.5 text-base font-normal left-1 top-2 absolute text-gray-700 text-center whitespace-nowrap rounded" id="basic-addon2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19.355" height="18.854" viewBox="0 0 19.355 18.854">
                    <g id="Icon_feather-search" data-name="Icon feather-search" transform="matrix(0.999, -0.035, 0.035, 0.999, -1.896, -1.192)">
                      <path id="Path_52" data-name="Path 52" d="M17.417,10.083A7.333,7.333,0,1,1,10.083,2.75a7.333,7.333,0,0,1,7.333,7.333Z" fill="none" stroke="#e3dede" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.833"></path>
                      <path id="Path_53" data-name="Path 53" d="M19.25,19.25l-3.988-3.988" fill="none" stroke="#e3dede" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.833"></path>
                    </g>
                  </svg>


                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- login button -->
        <div class="left-menu max-lg:hidden ">
          <ul class="flex items-center justify-around">
            <li class="mx-4">
              <a href="blog.html" class="text-black-500 text-base hover:opacity-80">وبلاگ</a>
            </li>
            <li class="mx-4">
              <a href="aboue.html" class="text-black-500 text-base hover:opacity-80">درباره ما</a>
            </li>
            <li class="mx-4">
              <a href="register-form.html" class="text-white text-mxl bg-gold-500 text-center transition ease-in font-medium p-3 px-4 rounded flex items-center hover:opacity-70">
                <span class="material-symbols-outlined text-white text-3xl mx-1 ">
                  person
                </span>
                ورود / ثبت نام
              </a>
            </li>
          </ul>
        </div>
        <!-- end Login Button -->

        <!-- hamber Menu Button -->
        <div class="flex lg:hidden w-full justify-between items-center flex-row-reverse">
          <div class="hamber  ">
            <div class="hamber-logo hover:opacity-70 cursor-pointer ">
              <svg width="24" class="text-black-700 dark:text-white" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2.5H21.5M2 9H21.5M2 15.5H21.5" stroke="currentColor" stroke-width="3.65625" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>

          </div>

        </div>

        <!-- End Hamber menu Button -->
      </div>


      <div class="SiteMenu w-full  h-20 max-lg:px-4 max-lg:pr-2 px-8 flex lg:items-center lg:justify-around max-lg:flex-col mobile_navbar lg:static max-lg:h-[100vh] max-lg:bg-white bg-gray-200 ">

        <svg class="top-4 left-4 hover:opacity-50 absolute cursor-pointer lg:hidden" id="closeMenu" width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 2L9 9M9 9L2 16M9 9L16 16M9 9L2 2" stroke="#353F53" stroke-width="2.88235" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>

        <div style="margin-right: 10px  " class="relative max-lg:mt-8 max-lg:mb-3 lg:hidden w-[95%] ">
          <div class="absolute inset-y-0 left-3 top-3 flex items-center pointer-events-none">
            <svg aria-hidden="true" class="w-4 h-4 text-black-700 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
          </div>
          <input type="search" class=" mt-4  p-3 w-full h-11 transition ease-linear text-sm bg-gray-300  text-black-700 border border-gray-300 rounded-2xl bg-gray-50 focus-visible:outline-none focus:border-gray-500 relative" placeholder="جست و جو کنید" required="">
        </div>
        <hr class="text-black-500 w-full mr-2 my-4 lg:hidden">
        <nav class="flex lg:items-center  max-lg:flex-col h-full overflow-y-auto scrollbar scrollbar-thumb-gold-100 scrollbar-track-gray-500 scrollbar-w-[3px] overflow-x-hidden scrollbar-track-rounded-md scrollbar-thumb-rounded-lg ">
          <ul class="flex lg:items-center h-full max-lg:flex-col ">
            <div class="flex text-black-500 text-mxl justify-center pb-5 lg:py-5 lg:h-[76px]  items-center max-lg:mr-1  ">
              <li class="mx-6">
                <a href="index.html" class="text-black-500 max-lg:text-[#000] text-mxl hover:opacity-75 flex items-end">
                  <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                    home
                  </span>
                  خانه
                </a>
              </li>
              <li class="mx-6">
                <a href="shop.html" class="text-black-500 max-lg:text-[#000] text-mxl hover:opacity-75 flex items-end">
                  <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                    shopping_bag
                  </span>
                  فروشگاه
                </a>
              </li>
              <li class="mx-6">
                <a href="category_blog.html" class="text-black-500 max-lg:text-[#000] text-mxl hover:opacity-75 flex items-end">
                  <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                    stadia_controller
                  </span>
                  چیت
                </a>
              </li>
              <li class="mx-6">
                <a href="category_blog.html" class="text-black-500 max-lg:text-[#000] text-mxl hover:opacity-75 flex items-end">
                  <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                    school
                  </span>
                  آموزش
                </a>
              </li>

              <li class="mx-6">
                <a href="aboue.html" class="text-black-500 max-lg:text-[#000] text-mxl hover:opacity-75 flex items-end">
                  <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                    group
                  </span>
                  درباره ما
                </a>
              </li>
              <li class="mx-6">
                <a href="contact.html" class="text-black-500 max-lg:text-[#000] text-mxl hover:opacity-75 flex items-end">
                  <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                    settings_phone
                  </span>
                  تماس با ما
                </a>
              </li>
              <hr class="text-gold-500 w-full  my-4 lg:hidden">
              <li class="mx-6 lg:hidden">
                <a href="register-form.html" class="text-gold-500 lg-responsive-bt max-lg:text-gold-500 text-mxl hover:opacity-75 flex items-end">
                  <span class="material-symbols-outlined text-3xl text-gold-500 ml-2 lg:hidden">
                    person
                  </span>
                  ورود / ثبت نام
                </a>
              </li>


            </div>


          </ul>

        </nav>

        <!-- card drop down -->
        <ul class="flex relative ">
          <div id="showcardmanage" class="bg-white max-md:hidden  z-20 h-auto  w-[350px] max-md:w-[300px] opacity-0 pointer-events-none ease-linear transition-opacity appearance-none -left-36 max-lg:-left-3 top-8  shadow-md mt-4 absolute">
            <a href="cart.html" class="text-gold-100 flex items-center absolute top-4 left-4 text-base ">
              رفتن به سبد خرید<span class="material-symbols-outlined text-mxl max-md:text-sm ">
                keyboard_double_arrow_left
              </span>
            </a>

            <div class="posts flex flex-col mt-7 overflow-y-auto max-h-[440px] scrollbar scrollbar-thumb-gold-100 scrollbar-track-[#F5F4F4] scrollbar-w-[5px] scrollbar-track-rounded-md scrollbar-thumb-rounded-lg">
              <li class="p-4 py-3 max-md:p-3">

                <div class="post flex items-center ">
                  <a href="single_product .html" class="img">
                    <img src="../images/lates_post.jpg" alt="" class="h-14 w-14 max-md:w-12 max-md:h-12 rounded-lg">
                  </a>

                  <div class="head mx-3 ml-0 flex flex-col ">
                    <h2><a href="single_post.html" class="text-black-500 text-mxl font-IRsansBold transition-all max-md:text-base ease-linear hover:opacity-70">چیت بازی زولا  + آخرین اپدیت سال ...</a></h2>
                    <div class="details flex mt-2 opacity-80 ">
                      <div class="price  left-8 top-8 flex items-center">
                        <div class="text-black-500  text-base font-light  right-[-60px] -top-2">
                          <s>181,000</s>
                      </div>
                        <span class="text-gold-100 text-mxl max-md:text-sm font-IRsansBold">119,000</span>
                        <span class="text-base mx-1 text-black-500">تومان</span>
                        <div class="div">

                        </div>
                      </div>


                    </div>
                  </div>

                </div>

              </li>
              <li class="p-4 py-3 max-md:p-3">

                <div class="post flex items-center ">
                  <a href="single_product .html" class="img">
                    <img src="../images/lates_post.jpg" alt="" class="h-14 w-14 max-md:w-12 max-md:h-12 rounded-lg">
                  </a>

                  <div class="head mx-3 ml-0 flex flex-col ">
                    <h2><a href="single_product .html" class="text-black-500 text-mxl font-IRsansBold transition-all max-md:text-base ease-linear hover:opacity-70">چیت بازی زولا  + آخرین اپدیت سال ...</a></h2>
                    <div class="details flex mt-2 opacity-80 ">
                      <div class="price  left-8 top-8 flex items-center">
                        <div class="text-black-500  text-base font-light  right-[-60px] -top-2">
                          <s>181,000</s>
                      </div>
                        <span class="text-gold-100 text-mxl max-md:text-sm font-IRsansBold">119,000</span>
                        <span class="text-base mx-1 text-black-500">تومان</span>
                        <div class="div">

                        </div>
                      </div>


                    </div>
                  </div>

                </div>

              </li>
              <li class="p-4 py-3 max-md:p-3">

                <div class="post flex items-center ">
                  <a href="single_product .html" class="img">
                    <img src="../images/lates_post.jpg" alt="" class="h-14 w-14 max-md:w-12 max-md:h-12 rounded-lg">
                  </a>

                  <div class="head mx-3 ml-0 flex flex-col ">
                    <h2><a href="single_product .html" class="text-black-500 text-mxl font-IRsansBold transition-all max-md:text-base ease-linear hover:opacity-70">چیت بازی زولا  + آخرین اپدیت سال ...</a></h2>
                    <div class="details flex mt-2 opacity-80 ">
                      <div class="price  left-8 top-8 flex items-center">
                        <div class="text-black-500  text-base font-light  right-[-60px] -top-2">
                          <s>181,000</s>
                      </div>
                        <span class="text-gold-100 text-mxl max-md:text-sm font-IRsansBold">119,000</span>
                        <span class="text-base mx-1 text-black-500">تومان</span>
                        <div class="div">

                        </div>
                      </div>


                    </div>
                  </div>

                </div>

              </li>
            </div>
            <div class="border-t border-gray-100 mt-2 p-4 px-5 flex justify-between items-center">
              <div>
                <h5 class="text-black-500 text-mxl max-md:text-base"> میلغ قابل پرداخت:</h5>
                <h5 class="text-gold-100 font-medium  max-md:text-base">25,000 تومان</h5>
              </div>
              <a href="cart.html" class="text-white text-mxl transition ease-in hover:text-gold-100 hover:bg-white  bg-gold-100 border p-3 py-2 border-gold-100 text-center font-medium rounded flex items-center">
                ثبت سفارش
              </a>
            </div>
          </div>

          <li class="card_manage_icon">
            <a href="#">
              <div class="flex items-center mx-1">
                <div class="w-9 h-9 max-lg:hidden rounded-full bg-gray-300 text-black-700 flex justify-center items-center relative hover:text-white hover:bg-black-700 ease-in transition">
                  <span class="absolute text-white label flex justify-center h-5 w-5 text-center rounded-full  text-[11px] -l-3 -top-1">4</span>
                  <span class="material-symbols-outlined text-[22px]">
                    shopping_bag
                  </span>
                </div>

              </div>

            </a>
          </li>

        </ul>

      </div>
    </header>