<header class="relative ">
      <!-- Top Navbar-->
      <div class="header-top px-4 lg:mt-12 md:mt-8 max-md:mt-6 bg-white  rounded-3xl max-md:rounded-md ">
        <div class=" mx-sm:px-7 lg:w-5/6 w-full mx-auto ">
          <div class="flex justify-between h-28 max-lg:h-24 max-md:h-20 items-center  ">
            <div class="hamber-logo lg:hidden hover:opacity-70 cursor-pointer ">
              <svg width="24" class="text-black-700 dark:text-white" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2.5H21.5M2 9H21.5M2 15.5H21.5" stroke="currentColor" stroke-width="3.65625" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
            <a href="#" class="logo max-lg:-mb-[6px] ">
              <h2 class="g:text-4xl text-3xl max-md:text-2xl text-gray-100 font-IRsansBold ">IS<span class="text-gold-500 font-IRsansBold">G</span>AME</h2>
            </a>
            <div class="search-form-header w-1/2  max-lg:hidden   ">
              <form>
                <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                <div class="relative">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-black-700 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                  </div>
                  <input type="search" id="search" class=" w-full p-4  h-12  transition ease-linear text-base bg-gray-300  text-black-700 border border-gray-300 rounded-2xl bg-gray-50 focus-visible:outline-none focus:border-gray-500 relative" placeholder="جست و جو کنید" required="">
                </div>
              </form>
            </div>

            <!-- navbar top contains 2 icon!! -->

            <div class="icon-top  ">

              <ul>
                <div class=" flex relative   ">


                  <div id="showusermanage" class="bg-white z-20 h-auto w-[180px] pointer-events-none opacity-0 ease-linear transition-opacity appearance-none top-8 -left-6 max-lg:-left-3  shadow-md mt-4 absolute">
                    <ul class="">
                      <li class="py-3 pt-5 hover:bg-gray-300 text-mxl text-black-700"><a href="register-form.html" class="flex">
                          <span class="material-symbols-outlined  mx-2 text-2xl">
                            login
                          </span>
                          ورود

                        </a></li>
                      <li class="py-3 text-mxl hover:bg-gray-300 text-black-700"><a class="flex" href="cart.html">
                          <span class="material-symbols-outlined  mx-2 text-2xl">
                            shopping_cart

                          </span>
                          سبد خرید
                        </a></li>
                      <li class="py-3 text-mxl hover:bg-gray-300 text-black-700"><a href="user-das.html" class="flex">
                          <span class="material-symbols-outlined  mx-2 text-2xl">
                            manage_accounts
                          </span> پروفایل
                        </a></li>
                      <li class="py-3 pb-5 text-mxl hover:bg-gray-300 text-red-100"><a href="#" class="flex">

                          <span class="material-symbols-outlined  mx-2 text-2xl">
                            logout


                          </span> خروج
                        </a></li>

                    </ul>

                  </div>


                  <div id="showcardmanage" class="bg-white  z-20 h-auto  w-[350px] max-md:w-[300px] opacity-0 pointer-events-none ease-linear transition-opacity appearance-none -left-32 max-lg:-left-3 top-8  shadow-md mt-4 absolute">
                    <a href="cart.html" class="text-gold-100 flex items-center absolute top-4 left-4 text-base ">
                      رفتن به سبد خرید<span class="material-symbols-outlined text-mxl max-md:text-sm ">
                        keyboard_double_arrow_left
                      </span>
                    </a>

                    <div class="posts flex flex-col mt-7 overflow-y-auto max-h-[440px] scrollbar scrollbar-thumb-gold-100 scrollbar-track-[#F5F4F4] scrollbar-w-[5px] scrollbar-track-rounded-md scrollbar-thumb-rounded-lg">
                      <li class="p-4 py-3 max-md:p-3">

                        <div class="post flex items-center ">
                          <a href="single_product .html" class="img">
                            <img src="../images/lates_post.jpg" alt="" class="h-14 w-14 max-md:w-12 max-md:h-12 rounded-lg">
                          </a>

                          <div class="head mx-3 ml-0 flex flex-col ">
                            <h2><a href="single_post.html" class="text-black-500 text-mxl font-IRsansBold transition-all max-md:text-base ease-linear hover:opacity-70">چیت
                                بازی زولا + آخرین اپدیت سال ...</a></h2>
                            <div class="details flex mt-2 opacity-80 ">
                              <div class="price  left-8 top-8 flex items-center">
                                <div class="text-black-500  text-base font-light  right-[-60px] -top-2">
                                  <s>181,000</s>
                                </div>
                                <span class="text-gold-100 text-mxl max-md:text-sm font-IRsansBold">119,000</span>
                                <span class="text-base mx-1 text-black-500">تومان</span>
                                <div class="div">

                                </div>
                              </div>


                            </div>
                          </div>

                        </div>

                      </li>
                      <li class="p-4 py-3 max-md:p-3">

                        <div class="post flex items-center ">
                          <a href="single_product .html" class="img">
                            <img src="../images/lates_post.jpg" alt="" class="h-14 w-14 max-md:w-12 max-md:h-12 rounded-lg">
                          </a>

                          <div class="head mx-3 ml-0 flex flex-col ">
                            <h2><a href="single_product .html" class="text-black-500 text-mxl font-IRsansBold transition-all max-md:text-base ease-linear hover:opacity-70">چیت
                                بازی زولا + آخرین اپدیت سال ...</a></h2>
                            <div class="details flex mt-2 opacity-80 ">
                              <div class="price  left-8 top-8 flex items-center">
                                <div class="text-black-500  text-base font-light  right-[-60px] -top-2">
                                  <s>181,000</s>
                                </div>
                                <span class="text-gold-100 text-mxl max-md:text-sm font-IRsansBold">119,000</span>
                                <span class="text-base mx-1 text-black-500">تومان</span>
                                <div class="div">

                                </div>
                              </div>


                            </div>
                          </div>

                        </div>

                      </li>
                      <li class="p-4 py-3 max-md:p-3">

                        <div class="post flex items-center ">
                          <a href="single_product .html" class="img">
                            <img src="../images/lates_post.jpg" alt="" class="h-14 w-14 max-md:w-12 max-md:h-12 rounded-lg">
                          </a>

                          <div class="head mx-3 ml-0 flex flex-col ">
                            <h2><a href="single_product .html" class="text-black-500 text-mxl font-IRsansBold transition-all max-md:text-base ease-linear hover:opacity-70">چیت
                                بازی زولا + آخرین اپدیت سال ...</a></h2>
                            <div class="details flex mt-2 opacity-80 ">
                              <div class="price  left-8 top-8 flex items-center">
                                <div class="text-black-500  text-base font-light  right-[-60px] -top-2">
                                  <s>181,000</s>
                                </div>
                                <span class="text-gold-100 text-mxl max-md:text-sm font-IRsansBold">119,000</span>
                                <span class="text-base mx-1 text-black-500">تومان</span>
                                <div class="div">

                                </div>
                              </div>


                            </div>
                          </div>

                        </div>

                      </li>

                    </div>
                    <div class="border-t border-gray-100 mt-2 p-4 px-5 flex justify-between items-center">
                      <div>
                        <h5 class="text-black-500 text-mxl max-md:text-base"> میلغ قابل پرداخت:</h5>
                        <h5 class="text-gold-100 font-medium  max-md:text-base">25,000 تومان</h5>
                      </div>
                      <a href="cart.html" class="text-white text-mxl transition ease-in hover:text-gold-100 hover:bg-white  bg-gold-100 border p-3 py-2 border-gold-100 text-center font-medium rounded flex items-center">
                        ثبت سفارش
                      </a>
                    </div>
                  </div>


                  <li class="person_manage_icon  ">
                    <a href="#">
                      <div class="flex items-center mx-1">
                        <div class="w-9 h-9 rounded-full bg-gray-300 text-black-700 flex justify-center items-center hover:text-white hover:bg-black-700 ease-in transition">
                          <span class="material-symbols-outlined text-[22px]">
                            person
                          </span>
                        </div>

                      </div>

                    </a>
                  </li>
                  <li class="card_manage_icon">
                    <a href="#">
                      <div class="flex items-center mx-1">
                        <div class="w-9 h-9 rounded-full bg-gray-300 text-black-700 flex justify-center items-center relative hover:text-white hover:bg-black-700 ease-in transition">
                          <span class="absolute text-white label rounded-full p-1 text-mini l-0 t-0">4</span>
                          <span class="material-symbols-outlined text-[22px]">
                            shopping_bag
                          </span>
                        </div>

                      </div>

                    </a>
                  </li>


                </div>
              </ul>



            </div>

          </div>
        </div>
      </div>
      <!-- End Top Navbar And Start Bottom Navbar -->

      <div class="w-5/6 SiteMenu bg-gray-500 rounded-b-3xl mx-auto  mobile_navbar lg:static max-lg:h-[100vh] ">

        <svg class="top-4 left-4 hover:opacity-50 absolute cursor-pointer lg:hidden" id="closeMenu" width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 2L9 9M9 9L2 16M9 9L16 16M9 9L2 2" stroke="#353F53" stroke-width="2.88235" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <nav class="">
          <ul class="">
            <div class="flex  text-black-500 text-mxl justify-center py-5 lg:h-[76px]  items-center max-lg:h-[100vh] ">

              <div style="margin-right: -8px !important;width: 95%; " class="relative max-lg:mt-8 max-lg:mb-3 lg:hidden  ">
                <div class="absolute inset-y-0 left-3 top-3 flex items-center pointer-events-none">
                  <svg aria-hidden="true" class="w-4 h-4 text-black-700 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                  </svg>
                </div>
                <input type="search" class="  p-3 w-full h-11 transition ease-linear text-sm bg-gray-300  text-black-700 border border-gray-300 rounded-2xl bg-gray-50 focus-visible:outline-none focus:border-gray-500 relative" placeholder="جست و جو کنید" required="">
              </div>
              <hr class="text-black-500 w-full -mr-3 my-4 lg:hidden">
              <div class="flex text-black-500 text-mxl justify-center mx-0 lg:h-[76px] items-center h-full overflow-y-auto scrollbar scrollbar-thumb-gold-100 scrollbar-track-gray-500 scrollbar-w-[3px] overflow-x-hidden scrollbar-track-rounded-md scrollbar-thumb-rounded-lg  max-lg:w-[95%]  max-lg:h-[screen]" style="margin-right: 0">


                <li class="xl:mx-8 mx-5 hover:opacity-75 flex justify-center items-end">

                  <a href="index.html" class="flex items-end">
                    <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                      home
                    </span>
                    خانه

                  </a>
                </li>
                <li class="xl:mx-8 mx-6 hover:opacity-75 ">

                  <a href="shop.html" class="flex items-end">
                    <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                      shopping_bag
                    </span>
                    فروشگاه</a>
                </li>
                <li class="xl:mx-8 mx-6 hover:opacity-75 flex items-end">

                  <a href="blog.html" class="flex items-end">
                    <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                      post_add
                    </span>
                    وبلاگ</a>
                </li>
                <li class="xl:mx-8 mx-6 hover:opacity-75 flex items-end">

                  <a href="search.html" class="flex items-end">
                    <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                      stadia_controller
                    </span>
                    ترینر
                  </a>
                </li>
                <li class="xl:mx-8 mx-6 hover:opacity-75 flex items-end">

                  <a href="contact.html" class="flex items-end">
                    <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                      call
                    </span>
                    تماس با ما
                  </a>
                </li>
                <li class="xl:mx-8 mx-6 hover:opacity-75 flex items-end">

                  <a href="404.html" class="flex items-end">
                    <span class="material-symbols-outlined text-3xl text-black-500 ml-2 lg:hidden">
                      group
                    </span>
                    صفحه 404

                  </a>
                </li>

              </div>
            </div>
          </ul>
        </nav>
      </div>


      <!-- End Bottom Navbar  -->
    </header>