    <header>
      <div
        class="navbar-top orginal-header max-lg:m-4 bg-white w-full h-[90px] rounded-md my-14 flex justify-center mx-auto shadow-md items-center px-4 max-lg:my-6 max-lg:-mb-8 max-lg:w-auto	 ">

        <nav class="w-full max-lg:pl-0 pl-4 ">
          <ul class="flex justify-between items-center ">
            <div class="flex div-center-nav-org max-lg:h-[100vh] max-lg:bg-white SiteMenu h-full overflow-y-auto scrollbar scrollbar-thumb-gold-100 scrollbar-track-gray-500 scrollbar-w-[3px] overflow-x-hidden scrollbar-track-rounded-md scrollbar-thumb-rounded-lg">
              <svg class="top-4 left-4 hover:opacity-50 absolute cursor-pointer lg:hidden" id="closeMenu" width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 2L9 9M9 9L2 16M9 9L16 16M9 9L2 2" stroke="#353F53" stroke-width="2.88235" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>

              <div style="margin-right: 10px  " class="relative max-lg:mt-8 max-lg:mb-3 lg:hidden w-[95%] ">
                <div class="absolute inset-y-0 left-3 top-3 flex items-center pointer-events-none">
                  <svg aria-hidden="true" class="w-4 h-4 text-black-700 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                  </svg>
                </div>
                <input type="search" class=" mt-2  p-3 w-full h-11 transition ease-linear text-sm bg-gray-300  text-black-700 border border-gray-300 rounded-2xl bg-gray-50 focus-visible:outline-none focus:border-gray-500 relative max-md:-mr-[6px]" placeholder="جست و جو کنید" required="">
              </div>
              <hr class="text-black-500 w-full mr-2 my-3 lg:hidden">

              <li>
                <a href="index.html">
                  <div class="flex items-center mx-6">
                    <div
                      class="w-8 h-8 max-sm:w-[26px] max-sm:h-[26px] rounded-full bg-gold-100   text-white flex justify-center items-center shadow-narm">
                      <span class="material-symbols-outlined text-[22px] max-sm:text-[19px] mb-1">
                        home
                      </span>
                    </div>
                    <span class="mx-2 text-gold-100 text-mxl">خانه</span>
                  </div>

                </a>
              </li>
              <li>
                <a href="shop.html">
                  <div class="flex items-center mx-6 hover:text-red-100 ease-in transition">
                    <div
                      class="w-8 h-8 max-sm:w-[26px] max-sm:h-[26px] rounded-full bg-red-100  text-white flex justify-center items-center shadow-narm">
                      <span class="material-symbols-outlined text-[22px] max-sm:text-[19px]">
                        shopping_bag
                      </span>
                    </div>
                    <span class="mx-2 text-mxl ">فروشگاه</span>
                  </div>

                </a>
              </li>
              <li>
                <a href="category_blog.html">
                  <div class="flex items-center mx-6 hover:text-blue-300 ease-in transition">
                    <div
                      class="w-8 h-8 max-sm:w-[26px] max-sm:h-[26px] rounded-full bg-blue-300  text-white flex justify-center items-center shadow-narm">
                      <span class="material-symbols-outlined text-[22px] max-sm:text-[19px] ">
                        public
                      </span>
                    </div>
                    <span class="mx-2 text-mxl">آموزش</span>
                  </div>

                </a>
              </li>
              <li>
                <a href="category_blog.html">
                  <div class="flex items-center mx-6 hover:text-purple ease-in transition">
                    <div
                      class="w-8 h-8 max-sm:w-[26px] max-sm:h-[26px] rounded-full bg-purple  text-white flex justify-center items-center shadow-narm">
                      <span class="material-symbols-outlined text-[22px] max-sm:text-[19px] ">
                        settings
                      </span>
                    </div>
                    <span class="mx-2 text-mxl">چیت</span>
                  </div>

                </a>
              </li>
              <li>
                <a href="category_blog.html">
                  <div class="flex items-center mx-6 hover:text-green ease-in transition">
                    <div class="w-8 h-8 max-sm:w-[26px] max-sm:h-[26px] rounded-full bg-green  text-white flex justify-center items-center shadow-narm">
                      <span class="material-symbols-outlined text-[22px]  ">
                        gamepad
                      </span>
                    </div>
                    <span class="mx-2  text-mxl">ترینر</span>
                  </div>

                </a>
              </li>

            </div>
            <!-- hamburger icon -->
            <div class="hamber-logo lg:hidden hover:opacity-70 cursor-pointer ">
              <svg width="24" class="text-black-700 dark:text-white" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 2.5H21.5M2 9H21.5M2 15.5H21.5" stroke="currentColor" stroke-width="3.65625" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            </div>
<!-- end hamburger icon -->
            <!-- logo -->
            <div class="lg:hidden max-lg:-mb-[6px]  ">
              <a href="index.html" class="logo  ">
                <h2 class="lg:text-4xl text-[22px] text-gray-100 font-IRsansBold	">IS<span class="text-gold-500 font-IRsansBold">G</span>AME</h2>
              </a>
            </div>
            <!-- end logo -->
            <!-- icon top -->

            <div class="flex relative">
              <div id="showusermanage"
              class="bg-white z-20 h-auto w-[180px] pointer-events-none opacity-0 ease-linear transition-opacity appearance-none top-8 -left-6 max-lg:-left-3  shadow-md mt-4 absolute">
              <ul class="">
                <li class="py-3 pt-5 hover:bg-gray-300 text-mxl text-black-700"><a href="login.html" class="flex">
                    <span class="material-symbols-outlined  mx-2 text-2xl">
                      login
                    </span>
                    ورود

                  </a></li>
                <li class="py-3 text-mxl hover:bg-gray-300 text-black-700"><a class="flex" href="cart.html">
                    <span class="material-symbols-outlined  mx-2 text-2xl">
                      shopping_cart

                    </span>
                    سبد خرید
                  </a></li>
                <li class="py-3 text-mxl hover:bg-gray-300 text-black-700"><a href="user-das.html" class="flex">
                    <span class="material-symbols-outlined  mx-2 text-2xl">
                      manage_accounts
                    </span> پروفایل
                  </a></li>
                <li class="py-3 pb-5 text-mxl hover:bg-gray-300 text-red-100"><a href="#" class="flex">

                    <span class="material-symbols-outlined  mx-2 text-2xl">
                      logout


                    </span> خروج
                  </a></li>

              </ul>

            </div>
            <li class="person_manage_icon   ">
              <a href="#">
                <div class="flex items-center mx-1">
                  <div
                    class="w-9 h-9 rounded-full bg-gray-300 text-black-700 flex justify-center items-center hover:text-white hover:bg-black-700 ease-in transition">
                    <span class="material-symbols-outlined text-[22px]">
                      person
                    </span>
                  </div>

                </div>

              </a>
            </li>
              <li class="max-lg:hidden">
                <a href="#">
                  <div class="flex items-center mx-1">
                    <div id="btnsearch"
                      class="w-9 h-9 rounded-full bg-gray-300  transition ease-linear text-black-700 flex justify-center items-center hover:text-white hover:bg-black-700">
                      <span class="material-symbols-outlined text-[22px] ">
                        search
                      </span>
                    </div>

                  </div>

                </a>
              </li>
              <li>
            </div>

          <!-- end icon top -->
          </ul>
        </nav>
      </div>
    </header>