{% extends 'shared/base.html' %}
{% load static %}
{% block title %}
    مدیریت صفحه ها
{% endblock %}
{% block header_reference %}
    <link href="{% static 'admin_panel/assets/css/tables/table-basic.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    {% load poll_extras %}

    {% include 'layout/component/deletemodal.html' %}
    <div class="col-lg-10 mx-auto mt-5 ">
        <div class="table-responsive bg-white p-5">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-10 col-md-10 col-sm-10 col-10 mb-4 ">
                        <h4>مشاهده صفحه ها</h4>
                    </div>
                    <div class="col-md-2 mb-4">

                        <a href="{% url 'add_page'  %}" class="btn btn-primary mb-2 mr-2 btn-rounded">افزودن صفحه جدید</a>

                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover table-condensed mb-4">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام</th>
                    <th>آدرس صفحه</th>
                    <th>نمایش </th>
                    <th class="text-center">عملیات</th>
                </tr>
                </thead>
                <tbody>

                {% for item in data %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {{ item.url }}
                        </td>
                        <td>
                            {% if item.is_active %} <span class="text-info"> فعال </span> {%else%} <span class="text-danger">پیش نویس </span>  {% endif %}
                        </td>

                        <td class="text-center">
                            <ul class="table-controls">
                                <li>


                                    <a href="{% url 'edit_page' pk=item.id  %}"
                                       style="margin-right: 1x;color: red"
                                       class="bs-tooltip mr-2 text-or" data-toggle="tooltip" data-placement="top"
                                       title="" data-original-title="ویرایش">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-edit-2 text-info">
                                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>

                                        </svg>
                                    </a>

                                    {% if forloop.counter != 1 %}
                                            <a onclick="myfunc({{item.id}})" data-toggle="modal" data-target="#exampleModal"
                                       style="margin-right: 3px;color: red"
                                       class="bs-tooltip  text-or" data-toggle="tooltip" data-placement="top"
                                       title="" data-original-title="حذف">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-x-octagon table-cancel">
                                            <polygon
                                                    points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
                                            <line x1="15" y1="9" x2="9" y2="15"></line>
                                            <line x1="9" y1="9" x2="15" y2="15"></line>
                                        </svg>
                                    </a>
                                    {% endif %}


                                </li>
                            </ul>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>

                    <th>ردیف</th>
                    <th>نام</th>
                    <th>آدرس صفحه</th>
                    <th>نمایش </th>
                    <th class="text-center">عملیات</th>


                </tr>
                </tfoot>
            </table>

  <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero-config_info" role="status" aria-live="polite">
                        صفحه {{ page_obj.number }} از
                        {{ paginator.num_pages }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero-config_paginate">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="paginate_button page-item next" id="zero-config_next">
                                    <a href="?page={{ page_obj.previous_page_number }}"
                                       aria-controls="zero-config"
                                       data-dt-idx="5"
                                       tabindex="0"
                                       class="page-link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round" class="feather feather-arrow-right">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                            <polyline points="12 5 19 12 12 19"></polyline>
                                        </svg>
                                    </a></li>
                            {% endif %}
                            {% for pageNumber in paginator.page_range %}
                                <li></li>
                                <li class="paginate_button page-item {% if page_obj.number == pageNumber %} active  {% endif %}">
                                    <a href="?page={{ pageNumber }}" aria-controls="zero-config" data-dt-idx="1"
                                       tabindex="0" class="page-link">{{ pageNumber }}</a>
                                </li>
                            {% endfor %}
                            <li></li>
                            {% if page_obj.has_next %}
                                <li class="paginate_button page-item previous " id="zero-config_previous"><a
                                        href="?page={{ page_obj.next_page_number }}" aria-controls="zero-config"
                                        data-dt-idx="0" tabindex="0" class="page-link">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-arrow-left">
                                        <line x1="19" y1="12" x2="5" y2="12"></line>
                                        <polyline points="12 19 5 12 12 5"></polyline>
                                    </svg>
                                </a></li>

                            {% endif %}


                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}

{% block script %}

{% include 'layout/component/swalmeesage.html' with title="صفحه ها" %}
<script>
function myfunc(id){
let ali="{% url 'page_delete' pk=' ' %}"
document.getElementById('delete').href=ali+id
}
</script>
{% endblock %}